{loop $mygalist1 $v}
		<li class="main" time="{$v['createtime']}" id="{$v['id']}" style="display: block;">
			<div class="tongzhi">
				<span class="tongzhiTitle">{$v['title']}</span>
					{if $v['starttime'] >TIMESTAMP}
					<div class="audit_statusNot">未开始</div>
					{else if $v['starttime'] <=TIMESTAMP && $v['endtime'] > TIMESTAMP }
					<div class="audit_statusIn">可预约</div>
					{else if $v['endtime'] < TIMESTAMP}
					<div class="audit_statusOver">已结束</div>
					{/if}
				
			</div>
			<div class="cutting"></div>
			<div class="notifyTopBox">
				<div class="notifyTopLeft">
					<img src="{php echo tomedia($v['thumb'])}" class="teacherImgError" />
				
				</div>
				<div class="notifyTopRight">
					
					<div class="notifyTopRightTopBox">
						
						{if $v['type'] == 2}
						
						<div class="JobLeaderBox" style="background: #313ed6;">家政服务</div>
						{elseif $v['type'] == 3}
						<div class="JobLeaderBox">家教服务</div>
						{/if}
						
					</div>
					
					<p class="notifyCreateTime"></p>
					<p class="notifyCreateTime">有效时间：{php echo(date("Y-m-d", $v['starttime']))} 至{php echo(date("Y-m-d", $v['endtime']))}</p>
				</div>
			</div>
			<div class="main_text" style="max-height: 60px; line-height: 20px; overflow: hidden;"> </div>
		</li>
		{/loop}