{if $usertype == 'send_class'}
	<div class="option_title">全选</div>
	<ul class="option_list_ul option_list_ul_class">
		{if $schooltype != 1}
		<li u_id="0" class="show">
			<div class="name">未分班</div>
		</li>
		{/if}	
		{loop $list $row}
		<li u_id="{$row['sid']}" class="show">
			<div class="name">{$row['sname']}{if $row['info']}<span style="color:red;">{$row['info']}</span>{/if}</div>
		</li>
		{/loop}	
	</ul>
	<div class="F_div sure_btn3">
		<div class="F_div_text">确定</div>
	</div>
{/if}
{if $usertype == 'student'}
	<div class="option_title2">全选</div>
	<ul class="option_list_ul1">
		{if $schooltype != 1}
		<li class_id="0" class="jiantou show list">
			<div class="name">未分班({php echo count($list2)}人)</div>
			<div class="clear1"></div>
			<div class="sec_ul_box">
				<div class="option_title2">全选</div>
				<ul class="option_list_ul2">
				{loop $list2 $r}
					<li u_id="{$r['id']}" class="show">
						<div class="itemOtherBox">
							<div class="user_img_box">
								<img src="{$r['icon']}" class="studentImgError">
							</div>
							<div class="name name2">{$r['s_name']}</div>
						</div>
					</li>
				{/loop}		
				</ul>
			</div>
		</li>
		{/if}	
		{loop $list $row}
		<li class_id="{$row['sid']}" class="jiantou show list">
			<div class="name">{$row['sname']}{if $row['info']}<span style="color:red;">{$row['info']}</span>{/if}</div>
			<div class="clear1"></div>
			<div class="sec_ul_box">
				<div class="option_title2">全选</div>
				<ul class="option_list_ul2">
				{loop $row['allstu'] $r}
					<li u_id="{$r['id']}" class="show">
						<div class="itemOtherBox">
							<div class="user_img_box">
								<img src="{$r['icon']}" class="studentImgError">
							</div>
							<div class="name name2">{$r['s_name']}</div>
						</div>
					</li>
				{/loop}		
				</ul>
			</div>
		</li>
		{/loop}		
	</ul>
	<div class="F_div sure_btn2">
		<div class="F_div_text">确定</div>
	</div>
{/if}
{if $usertype == 'staff'}
	<div class="option_title3">全选</div>
	<ul class="option_list_ul1">
		<li fz_id="0" class="jiantou show list">
			<div class="name">未分组({php echo count($list2)}人)</div>
			<div class="clear1"></div>
			<div class="sec_ul_box">
				<div class="option_title3">全选</div>
				<ul class="option_list_ul3">
				{loop $list2 $r}
					<li u_id="{$r['id']}" class="show">
						<div class="itemOtherBox">
							<div class="user_img_box">
								<img src="{$r['icon']}" class="studentImgError">
							</div>
							<div class="name name2">{$r['tname']}</div>
						</div>
					</li>
				{/loop}	
				</ul>
			</div>
		</li>	
		{loop $list $row}
		<li fz_id="{$row['sid']}" class="jiantou show list">
			<div class="name">{$row['sname']}</div>
			<div class="clear1"></div>
			<div class="sec_ul_box">
				<div class="option_title3">全选</div>
				<ul class="option_list_ul3">
				{loop $row['alltea'] $r}
					<li u_id="{$r['id']}" class="show">
						<div class="itemOtherBox">
							<div class="user_img_box">
								<img src="{$r['icon']}" class="studentImgError">
							</div>
							<div class="name name2">{$r['tname']}</div>
						</div>
					</li>
				{/loop}	
				</ul>
			</div>
		</li>
		{/loop}		
	</ul>
	<div class="F_div sure_btn1">
		<div class="F_div_text">确定</div>
	</div>
{/if}
{if $usertype == 'staff_jsfz'}
	<div class="option_title">全选</div>
	<ul class="option_list_ul option_list_ul_staff_jsfz">
		<li fz_id="0" class="show">
			<div class="name">未分组</div>
		</li>	
	{loop $list $row}
		<li fz_id="{$row['sid']}" class="show">
			<div class="name">{$row['sname']}</div>
		</li>
	{/loop}		
	</ul>
	<div class="F_div sure_btn4">
		<div class="F_div_text">确定</div>
	</div>
{/if}