{loop $list1 $v}
		<li class="main" time="{$v['createtime']}" id="{$v['gaid']}" style="display: block;">
			<div class="tongzhi">
				<span class="tongzhiTitle">{$v['gatitle']}</span>
				
					{if $v['gastarttime'] >TIMESTAMP}
					<div class="audit_statusNot">未开始</div>
					{else if $v['gastarttime'] <=TIMESTAMP && $v['gaendtime'] > TIMESTAMP }
					<div class="audit_statusIn">进行中</div>
					{else if $v['gaendtime'] < TIMESTAMP}
					<div class="audit_statusOver">已结束</div>
					{/if}
				
			</div>
			<div class="cutting"></div>
			<div class="notifyTopBox" style="margin-top: 30px;">
				<div class="notifyTopLeft">
					<img src="{if !empty($v['sicon'])}{php echo tomedia($v['sicon'])}{else}{php echo tomedia($school['spic'])}{/if}" class="teacherImgError" />
				
				</div>
				<div class="notifyTopRight" >
						<div class="notifyTopRightTopBox" style="margin-bottom: 8px;">
						
						{if $v['type'] == 2}
						
						<div class="JobLeaderBox" style="background: #e27b27;">家政服务</div>
						{elseif $v['type'] == 3}
						<div class="JobLeaderBox" style="background: #27e2bd;">家教服务</div>
						{/if}
						
					</div>
					
					<div class="notifyTopRightTopBox">
						
						<div class="JobLeaderBox">{$v['sname']}</div>
						<div class="JobLeaderBox" style="background: #3c5ac7;">{$v['bjname']}</div>
						</div>
						<!--<div class="notifyTopRightTopBox">
						预约人：
						<div class="JobLeaderBox" style="background: #3cc79a;">{$v['pard']}-{$v['username']}</div>
					</div>-->
					<p class="notifyCreateTime">上门时间：{php echo(date("Y-m-d", $v['servetime']))}</p>
					
				</div>
			</div>
			<div class="main_text" style="max-height: 60px; line-height: 20px; overflow: hidden;"> </div>
		</li>
		{/loop}