<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta content="telephone=no" name="format-detection" /> 
<link rel="stylesheet" href="{OSSURL}public/mobile/css/resetnew.css">
<link rel="stylesheet" type="text/css" href="{OSSURL}public/mobile/css/new_yab.css" />
<style>
body > a:first-child,body > a:first-child img{ width: 0px !important; height: 0px !important; overflow: hidden; position: absolute}
body{padding-bottom: 0 !important;}
.F_div {width: 60px;height: 60px;background:#ff6665; box-shadow: 1px 1px 2px 0px #909090;border-radius: 50px;position: fixed;bottom: 30px;right: 60px;}
.F_div_text {margin: 16px 0 0 0px;color: #FFF;font-size: 16px;text-align: center;}
.reveal-modal-bg {position: fixed;height: 100%;width: 100%;background: #000;background: rgba(0,0,0,.8);z-index: 100;display: none;top: 0;left: 0; }
.reveal-modal {visibility: hidden;top: 30px; left: 2%;right:2%;background: #fff ;position: absolute;z-index: 101;    padding: 25px 18px 38px;-moz-border-radius: 5px;-webkit-border-radius: 5px;order-radius: 5px;
-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);-box-shadow: 0 0 10px rgba(0,0,0,.4);}
.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
.head_buy {position: relative;height: 90px;border-bottom: 1px solid #c3b9b9;}
.head_buy .head_img{position: relative; width: 30%; height: 80px; float: left; cursor: pointer;float: left;text-align: center;vertical-align: middle; background-color: #eee; background-size: contain;    background-repeat: no-repeat;background-position: 50% 50%;}
.head_buy1 {position: relative;height: 243px;}
.head_buy1 .head_img1{position: relative;width: 98%;height: 243px;float: left;cursor: pointer;float: left;text-align: center;vertical-align: middle;background-size: contain;background-repeat: no-repeat;background-position: 50% 50%;}
.head_buy .head_right {width: 68%;float: right;}
.head_buy .head_right .vodname{font-size: 16px;font-weight: bold;}
.head_buy .head_right .vodsd{font-size: 13px;color: #888181;}
.buy_info { position: relative;margin-top: 18px;width: 100%; height: 63px;border-bottom: 1px dashed #c3b9b9;}
.buy_info .buy_left {width: 55%;float: left;}
.buy_info .buy_left .pirce{font-size: 13px;}
.buy_info .buy_left .pirce>span{font-size: 22px;color:red;font-weight: bold;}
.buy_info .buy_right {width: 35%;float: right;}
.buy_info .buy_right .buy_btn{width: 80%;height: 37px;vertical-align: middle;text-align: center;line-height: 35px;color: #fff;border-radius: 8px;background-color: #10c178;margin-left: 18px;}
.buy_info .buy_right .back{background-color: #b5afaf;}
.common_list_imgtext6 li a .icon_text .right_arrow_icon {width: 30px;height: 44px;position: absolute;top: 0;background: url({MODULE_URL}public/mobile/img/right_arrow.png) no-repeat center;background-size: 9px 15px;}
.common_list_imgtext6 li a .icon_text .right_arrow_text {height: 44px;position: absolute;right: 5px;top: 0;}
.common_list_imgtext6 li a .icon img {width: 25px;height: 25px;background-color: #dee0e0;border-radius: 50%;}
.my_unseInfo_right {float: right;display: inline-block;background: url({MODULE_URL}public/mobile/img/right_arrow.png) no-repeat center;
width: 30px;height: 100%;background-size: 9px 15px;}
.user_name {text-align: left;color: #666;font-size: 14px;}
.btn {height: 44px;display: block;background-color: #7bb52d;font: 20px "黑体";text-align: center;color: #fff;cursor: pointer;}
.user_name > input {    display: block;width: 100%;border-radius: 3px;height: 34px;padding: 0 10px;margin-bottom: 10px;border: 1px solid #e4dede;/* -webkit-box-sizing: border-box; */box-sizing: border-box;}
.user_name > select {display: block;width: 100%;height: 34px;border-radius: 3px;padding: 0 10px;margin-bottom: 10px;border: 1px solid #ccc;-webkit-box-sizing: border-box;
box-sizing: border-box;text-align: left;color: #666;font-size: 14px;}
.close_pupop_c {width: 200px; margin: 0 auto;}
.close_pupop_button {width: 90px;height: 30px;border-radius: 5px;line-height: 30px;font-size: 16px;text-align: center;}
.close_pupop_button_1 {background: #e74580;color: #fff;}
.close_pupop_button_2 {background: #56c454;color: #fff;margin-left: 20px;}
.weui_switch {font-size: 14px;-webkit-appearance: none;-moz-appearance: none;appearance: none;position: relative;width: 48px;height: 28px;border: 1px solid #DFDFDF;outline: 0;border-radius: 16px;box-sizing: border-box;background: #DFDFDF;vertical-align: middle;float: right;top: 8px;right: 12px;}
.weui_switch:before {content: " ";position: absolute;top: 0;left: 0;width: 46px;height: 26px;border-radius: 15px;background-color: #FDFDFD;-webkit-transition: -webkit-transform .3s;transition: transform .3s;}
.weui_switch:after {content: " ";position: absolute;top: 0;left: 0;width: 26px;height: 26px;border-radius: 15px;background-color: #FFFFFF;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);-webkit-transition: -webkit-transform .3s;transition: transform .3s;}
.icon_text >span {text-align: right;color: #888;line-height: 30px;margin-left: 47px;}
</style>
   
<style>
.fl{float: left;} .fr{float: right;} .clear{clear: both;} input,button{outline: none;} .change_top{background: #fff;margin-bottom: 10px;} .num_ower{margin-left: 8px;color: #666666;} .change_top_num{border-bottom: 1px solid #dcdcdc;height: 50px;line-height:
50px;padding: 0 15px;} ::-webkit-input-placeholder {color: #b8b8b8;} :-moz-placeholder {color: #b8b8b8;} ::-moz-placeholder {color: #b8b8b8;} :-ms-input-placeholder {color: #b8b8b8;} .num_close{width: 19px;height: 19px;margin-top: 5px;} .num_close>img{width:
100%;} .num_input{margin-right: 25px;height: 40px;} .num_input>input{width:100%;height:100%;box-sizing: border-box;border:none;font-size: 16px;} .change_top_addre{line-height: 35px; color: #666666; font-size: 12px; padding:0 15px; } .change_middle{ background:
#fff; } .change_middle_title{ padding:0 15px; line-height: 50px; font-size: 14px; border-bottom: 1px solid #dcdcdc; } .change_middle_choose{ padding: 15px; border-bottom: 1px solid #dcdcdc; } .change_middle_choose>li{ width:33.33%; margin-bottom: 20px;
float: left; } .choose_classify{ width:90px; margin: 0 auto; border:1px solid #06c1ae; border-radius: 5px; } .choose_classify>p{ text-align: center; color: #06c1ae; } .choose_classify>p:first-child{ font-size:14px; line-height: 25px; } .choose_classify>p:last-child{
font-size:12px; line-height: 20px; } .change_middle_money{ padding: 5px 15px; } .change_middle_money>p{ font-size: 15px; line-height: 30px; } .change_middle_money>p:last-child{ color: #666666; } .choose_special{ color: #999999; text-decoration: line-through;
margin-left: 20px; } .choose_range{ display: inline-block; width: 40px; height:20px; line-height: 20px; -webkit-border-radius:; -moz-border-radius:; border-radius:5px; background: #06c1ae; color: #fff; font-size:12px; text-align: center; margin-right:
20px; } .change_btn{ position: fixed; margin: 10px auto;  left:0; right:0; text-align: center; } .change_btn>button{ height:40px; width:80%; background:#06c1ae; color: #fff; font-size:14px; border-radius:5px; border:none; } .bgColor{ background:#06c1ae;
} .bgColor>p{ color: #fff; }
    </style>
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<title>{$school['title']}</title>
{php echo register_jssdks();}
<script type="text/javascript" src="{MODULE_URL}public/mobile/js/jquery-1.11.3.min.js?v=4.9"></script>
<script type="text/javascript" src="{OSSURL}public/mobile/js/jquery.reveal.js"></script>
</head>
{php include $this->template('port');}
<body>
	<input type="hidden" id="bigImage" name="bigImage"/>
    <div id="wrap" class="user_inf" style="padding-bottom:1px;">
        <dl>
            <dt onclick="uploadImg(this);">
				<span  class="potot" style="float:left;background-image:url({if !empty($students['icon'])}{php echo toimage($students['icon'])}{else}{OSSURL}public/mobile/img/mask_bg2.png{/if})"></span>
				<label style="margin-left: 15px;">&nbsp;{$students['s_name']}&nbsp;&nbsp;余额：{$students['chongzhi']}元 </label>
            </dt>
        </dl>
    </div>
    <div id="change">
        
        <div class="change_middle">
          	 <p class="change_middle_title">请选择套餐</p>
          	  <ul class="change_middle_choose">
			{loop $taocan $row}
           
                <li class="taocan" >
                    <div class="choose_classify" id="{$row['id']}" >
                        <p v-cloak>{$row['chongzhi']}元</p>
                        <p v-cloak>实付：{$row['cost']}元</p>
                    </div>
                </li>
                
           
            {/loop}
            <div class="clear"></div>
             </ul>
        </div>
        <div class="change_btn">
            <button>确定</button>
        </div>
    </div>	
	{php include $this->template('footer');}
</body>
<script> 
var id =0;
$(".choose_classify").on('click',function(){
	$(".choose_classify").removeClass("bgColor");
	$(this).addClass("bgColor");
	id = $(this).attr("id");
})

$(".change_btn").on("click",function(){
    if(id == 0){
        alert("请选择充值套餐！");
        return;
    }


	$.post("{php echo $this->createMobileUrl('payajax', array('op' => 'chongzhi'))}",{weid:'{$weid}',id:id,schoolid:'{$schoolid}',userid:{$it['id']},sid:{$it['sid']}}, function(data){
		if(data.result){
			
			jTips(data.msg);
			location.href = "{php echo $this->createMobileUrl('order', array('schoolid' => $schoolid), true)}"+"&user="+{$it['id']};			
		}else{
			jTips(data.msg);	
		}
	},'json');
})
WeixinJSHideAllNonBaseMenuItem();
/**微信隐藏工具条**/
function WeixinJSHideAllNonBaseMenuItem(){
	if (typeof wx != "undefined"){
		wx.ready(function () {
			
			wx.hideAllNonBaseMenuItem();
		});
	}
}
var images = {
	    localId: [],
	    serverId: []
};

function uploadImg(){

	wxChooseImage();
}

/**
 * 微信选择图片
 */
function wxChooseImage(){
	wx.chooseImage({
		success: function (res) {
			images.localId = res.localIds;
			var obj=new Image();
			obj.src=res.localIds[0];
			imagesUploadWx();
		}
	});
};

function imagesUploadWx() {
	  wx.uploadImage({
		localId: images.localId[0],
		isShowProgressTips:1,//// 默认为1，显示进度提示
		success: function (res) {
			$("#bigImage").val(res.serverId);
			saveImage();
		},
		fail: function (res) {
		  alert(JSON.stringify(res));
		}
	  });
};
function creatqr(id){
	var id = id;
	$.post("{php echo $this->createMobileUrl('comajax', array('op' => 'get_user_qr'))}",{id:id,schoolid:'{$schoolid}'}, function(data){
		if(data.result){
			var html = '<div class="head_img1"><img src="'+data['qrimg']+'"></div>';	
			var html2 = '<img style="padding-right: 62px;width: 23px;" src="'+data['qrimg']+'">点击查看'
			jTips(data.msg);
			$("#setbtn").hide();
			$("#ewcode").empty();
			$("#codetxet").empty();
			$("#ewcode").append(html);
			$("#codetxet").append(html2);			
		}else{
			jTips(data.msg);	
		}
	},'json');	 
}
$("#tijiao1").on('click', function () {
	var name = $("#name").val();
	var sex = $("#sex").val();
	var addr = $("#addr").val();
	var mobile = $("#mobile").val();
	var numberid = $("#numberid").val();
	var submitData = {
		sid:"{$students['id']}",
		schoolid:"{$schoolid}",
		name:name,
		numberid:numberid,
		mobile:mobile,
		sex:sex,
		addr:addr
	};

	reg=/^(0|86|17951)?(13[0-9]|15[012356789]|17[0-9]|18[0-9]|14[57])[0-9]{8}$/;	
	if (name == "" || name == undefined || name == null) {
		jTips('请输入学生姓名！');
		return false;
	}
	if (mobile == "" || mobile == undefined || mobile == null || !reg.test(mobile)) {
		jTips('手机号有误或为空！');
		return false;
	}
	
	jConfirm("确认修改学生信息吗?", "删除确定对话框", function (isConfirm) {
		if(isConfirm){
			$.post("{php echo $this->createMobileUrl('comajax',array('op'=>'reset_stuinfo'))}",submitData,function(data){
				if(data.result){
					jTips(data.msg);
					location.reload();
				}else{
					jTips(data.msg);
				}
			},'json'); 	
		}else {
			$("#close").click();
		}
	}); 	
});
function saveImage() {
	var url = "{php echo $this->createMobileUrl('indexajax',array('op'=>'changeimg'))}";
	var submitData = {
			bigImage:$("#bigImage").val(),
			sid:"{$it['sid']}",
	};
	$.post(url, submitData, function(data) {
		if (data.result) {
			jTips(data.msg);
			location.reload();
		} else {
			jTips(data.msg);
		}
	},'json');
}
</script>
</html>

</head>
<body style="background:#f3f3f3">
    
</body>
</html>
