<!DOCTYPE html>
<html style="font-size: 50px;">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="{OSSURL}public/mobile/css/collection_address.css?v=0622" rel="stylesheet">
    <link href="{OSSURL}public/mobile/css/reset.css?v=0622" rel="stylesheet">
    <meta name="HandheldFriendly" content="true">
    <script src="https://hm.baidu.com/hm.js?e6c44a88bd78113bfe161250284d9863"></script><script>
	    var _hmt = _hmt || [];
	    (function () {
	        var hm = document.createElement("script");
	        hm.src = "https://hm.baidu.com/hm.js?e6c44a88bd78113bfe161250284d9863";
	        var s = document.getElementsByTagName("script")[0];
	        s.parentNode.insertBefore(hm, s);
	    })();
	</script>

	<script type="text/javascript">
	    // *** 防止广告劫持 Start ***
	    var global_old_write = document.write;

	    document.write = function (string) {
	        // 允许youanbao, 百度地图     --条件可再优化
	        if (string.indexOf('youanbao') > -1 || string.indexOf('api.map.baidu.com') > -1) {
	            //alert(script);
	            // 调用原始接口
	            global_old_write.apply(document, arguments);
	        }
	        else
	            return false;
	    }
	    // *** 防止广告劫持 End ***
	</script>

	<script src="{MODULE_URL}public/mobile/js/jquery-1.10.2.min.js?v=0622"></script>

    <script type="text/javascript" src="{OSSURL}public/mobile/js/hb.js?v=0622"></script>
    <link href="{OSSURL}public/mobile/css/j_alert.css?v=062220161108" rel="stylesheet">
    <link href="{OSSURL}public/mobile/css/new_yab.css?v=062220161108" rel="stylesheet">
    <title>填写个人信息</title>
    <style>
    .head_title li.act {background-color: #06c1ae;}
    
	.head_title {border: none;}
	.head_title {width: 200px;height: 30px;border: 1px solid #F0F0F2;border-radius: 5px;overflow: auto;zoom: 1;margin: 0 auto;}
	.head_title li a {width: 100%;display: block;height: 100%;color: #000;font-size: 13px;}
    </style>
</head>

<body class="auto_height" id="auto_height" style="">
<div class="All" style="height: 100%;">
	<section>
	    <form id="frmAddress" action="{php echo $this->createMobileUrl('getorder',array('schoolid' => $schoolid,'id' => $userid), true)}" method="POST">
	      
	        <!--商品信息-->
	        <div class="phone_number" style="font-weight:900">{$language['seditorder_title']}</div>
	        <div class="name">
		        <input value="{$good['id']}" id="GoodId" name="GoodId"  type="text" hidden>
	            <label class="titleDescribe" for="username" style="width:70px !important">商品名：</label>
	            <span>{$good['title']}</span>
	        </div>
	       
	     
           <div class="phone_number">
	          	<label class="titleDescribe" for="phone_number"style="width:70px !important">价格:</label>
	          	{if $school['Is_point'] ==1}
	           	{$good['points']}积分+{$good['new_price']}元
	           	{else}
	           	{$good['new_price']}元
	           	{/if}
	        </div>
	        {if $op != 'showorder'}
	        <!--购物数量-->
	        <style type="text/css" media="screen" id="test">
	        	.gw_num{
		        	border: 1px solid #dbdbdb;
		        	width: 110px;
		        	line-height: 26px;
		        	overflow: hidden;
		        	}
		        	
				.gw_num em{
					display: block;
					height: 26px;
					width: 26px;
					float: left;
					color: #7A7979;
					border-right: 1px solid #dbdbdb;
					text-align: center;
					cursor: pointer;
					}
				.gw_num .num1{
					display: block;
					float: left;
					text-align: center;
					width: 52px;
					height:26px;
					font-style: normal;
					font-size: 14px;
					line-height: 26px;
					border: 0;
					}
				.gw_num em.jia{
					float: right;
					border-right: 0;
					border-left: 1px solid #dbdbdb;
					}
	        </style>
	        <div class="phone_number">
				<label class="titleDescribe" for="phone_number"style="width:70px !important">购买数量:</label>
	        	<div class="gw_num">
					<em class="jian">-</em>
					<input type="number" min="1" max="{$good['tqty']}" class="num1" id="NumOfGood" name="NumOfGood" value="1"/>
					<em class="jia">+</em>
				</div>
				<span style="margin:  0  0 0 20px;">(库存：{$good['tqty']}件) </span>
	       </div>
	       
<script type="text/javascript">
	$(document).ready(function(){
		//加的效果
		$(".jia").click(function(){
			var n=$(this).prev().val();
			var num=Number(n)+1;
			if(num==0){ return;}
			if(num> {$good['tqty']})
			{
				return;
			}
			var countpayd = {$countall};
			var xsxg = {$xsxg};
			var numPl = num + countpayd;
			
			if(numPl > xsxg && xsxg != 0 )
			{
				alert("抱歉，您的可购买数量已达上限");
				$(this).prev().val(n);
				return;
			}
			$(this).prev().val(num);
		});

		//实时监听数量
		$(".num1").bind('input propertychange', function() {
  			var count = $(this).val();
			if(count >= {$good['tqty']})
			{
				$(this).val({$good['tqty']});
			}
			var countpayd = {$countall};
			var xsxg = {$xsxg};
			var numPl = Number(count) + countpayd  ;

			var max =xsxg - countpayd ;
			if(numPl > xsxg && xsxg != 0 )
			{
				alert("抱歉，您的可购买数量已达上限");
				$(this).val(parseInt(max));
			}
});
		
		//减的效果
		$(".jian").click(function(){
			var n=$(this).next().val();
			var num=parseInt(n)-1;
			if(num==0){ return}
			$(this).next().val(num);
		});
	})
</script>
{else}
			<div class="phone_number">
				<label class="titleDescribe" for="phone_number"style="width:70px !important">购买数量:</label>
	        	<div class="gw_num">
					{$morder['count']}
				</div>
				
	       </div>

{/if}
		          <!--备注-->
	        <div class="name" style="height:auto;">
		         <table style="width: 100%;" frame=void >
					<tr>
					    <td valign="top" style="width:70px;">备注:</td>
					      {if $op != 'showorder'}
					    <td style="text-align:left">
						  
						    <textarea maxlength="100" cols="30" rows="7" style="width:100%;margin: 20px 0 0 0;"  name="mark"  id="mark" placeholder="备注(最多输入100字)"></textarea>
						  
						  
					    </td>
					      {else}
					      <td style="text-align:left">
						      {if !empty($morder['beizhu'])}
						    {$morder['beizhu']}
						    {else}
						    无备注
						    {/if}
						     </td>
					      {/if}
					 </tr>
				</table>
	        </div>
 <div class="phone_number" > <ul class="head_title">
			
			<li  id="jdwj" onclick="showaddress()">{$language['seditorder_jdwj']}</li>
			<li  id="dxzq" class="act" onclick="hideaddress()">{$language['seditorder_dxzq']}</li>
		</ul></div>
			<!--收货人信息-->
	        <div class="phone_number" style="font-weight:900">收货人信息 
	        {if $op != 'showorder'}
		        <a  style="margin: 0 0 0 20px;width:40%;color:#af3636 !important;background: none !important;font-weight:400"  href="{php echo $this->createMobileUrl('ssetaddress',array('schoolid' => $schoolid,'addressid' => $MyAddress['id']), true)}">修改收货人信息</a>
		         <!--<a  id="dxzq"  style="margin: 0 0 0 0;width:25%;font-weight:800;height: 20px;line-height: 22px;background:#066bc1;font-weight:400;"  onclick="hideaddress()">到校自取</a>
		         
		         <a  id="jdwj" style="margin: 0 0 0 0;width:25%;font-weight:800;height: 20px;line-height: 22px;background:#808c4e;font-weight:400;display: none;"   onclick="showaddress()">寄到我家</a>-->
		        {/if}
	        </div>
		 <input value="{$MyAddress['id']}"  name="MyAddressId" id="MyAddressId" type="text" hidden>
	        <div class="name">
	            <label class="titleDescribe" for="username" style="width:70px !important">姓名：</label>
              	{if $op != 'showorder'}
	            <span>{$MyAddress['name']}</span>
	            {else}
             	<span>{$morder['tname']}</span>
              	{/if}
	             <input value="{$MyAddress['name']}"  id="MyAddressName" name="MyAddressName"  type="text" hidden>
	        </div>
	        <div class="phone_number">
	            <label class="titleDescribe" for="phone_number" style="width:70px !important">联系电话:</label>
	            {if $op != 'showorder'}
	            <span>{$MyAddress['phone']}</span>
	            {else}
             	<span>{$morder['tphone']}</span>
              	{/if}
	           
	            <input value="{$MyAddress['phone']}"  id="MyAddressPhone" name="MyAddressPhone"  type="text" hidden>
	        </div>
			 <div class="name" id="qhdz" style="height:auto;display: none;">
				  <table style="width: 100%;" frame=void >
					<tr>
					    <td valign="top" style="width:70px;line-height: 30px;">地址：</td>
					    {if $op != 'showorder'}
					    <td style="text-align:left;line-height: 30px;">
						   {$AddressToShow}
						   <input value="{$AddressToShow}"  id="MyAddressToShow" name="MyAddressToShow"  type="text" hidden>
					    </td>
					    {else}
					      <td style="text-align:left;line-height: 30px;">
						   {$morder['taddress']}
						   {/if}
					    </td>
					    
					 </tr>
				</table>
	         </div>
	          
	    </form>
	    {if $op != 'showorder'}
	    <a style="margin-top: 30px;"  href="javascript:submit()">确定</a>
	    {else}
	     <a style="margin-top: 30px;"  href="javascript:history.back();">返回</a>
	     {/if}
	</section>
</div>


<script src="{OSSURL}public/mobile/js/j_alert.js?v=062220160929"></script>
<script src="{OSSURL}public/mobile/js/common.js?v=0622"></script><div id="common_progress" class="common_progress_bg"><div class="common_progress"><div class="common_loading"></div><br><span>正在载入...</span></div></div>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

{if $op != 'showorder'}
<script>
	var qhtype = 2 ;
	function hideaddress(){
		
		$("#qhdz").hide();
		
		dxzq.className = 'act'; 
		jdwj.className = '';
		qhtype = 2;
	};

	function showaddress(){
		
		$("#qhdz").show();
		
		dxzq.className = ''; 
		jdwj.className = 'act';
		qhtype = 1 ;
	};
    function submit() {
        if ($(".num1").val() == "") {
            jTips("请选择购买数量");
            return;
        }
		{if empty($MyAddress)}
        jTips("收货人信息不能为空，请编辑收货人信息");
        return;
		{/if}
        if($("#MyAddressPhone").val() == " "){
	        jTips("收货人电话不能为空，请修改收货人信息");
	         return;
        }
         if($("#MyAddressName").val() == " "){
	        jTips("收货人不能为空，请修改收货人信息");
	         return;
        }
         if($("#MyAddressToShow").val() == " "){
	        jTips("收货人地址不能为空，请编辑收货人信息");
	        return;
        }
       
	//弃用form提交，改用ajax提交
      //  $("#frmAddress").submit();
		  var GoodId = $("#GoodId").val();
		  var GoodPoint = {$good['points']};
		  var GoodPrice = {$good['new_price']};
		  var NumOfGood = $("#NumOfGood").val();
		  var AddId = $("#MyAddressId").val();
		  var beizhu = $("#mark").val();
		  
            $.post("{php echo $this->createMobileUrl('payajax',array('op'=>'mallorder'))}",{"GoodId":GoodId, "GoodPoint":GoodPoint,"GoodPrice":GoodPrice, "NumOfGood":NumOfGood, "AddId":AddId,"schoolid":{$schoolid},"weid":{$weid},"qhtype":qhtype,"beizhu":beizhu,"tid":0,"sid":{$it['sid']},"userid":{$userid},'uid':{$it['uid']}},function(data){
					if(data.result){
						jTips(data.info);
						
						window.location.href = " {php echo $this->createMobileUrl('sgetorder',array('userid'=>$userid,'schoolid'=>$schoolid,'weid'=>$weid))}";
					}else{
						jTips(data.info);
						//window.history.back();  
					}
		},'json');
      
    }
    

    
</script>
{/if}
</body>
</html>