section {
    background: #fff;
    border-radius: 10px;
    margin: 70px 10px 10px 10px;
}
.questionBox{
	padding-top: 10px;
}
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}
.yzInfo{
    display:flex;
    display:-webkit-box;
    margin-top: 10px;
}
.tx>span{
    display:inline-block;
    width:0.85rem;
    margin-left:10px;
}
.tx>span>img{
    width:.85rem;
    height:.85rem;
    border-radius:50%;
}
.name{
    font-size:.3rem;
    margin-top:.2rem;
}
.detailInfo{
   margin-left:10px;
}
.name>b{
    font-weight:400;
    color:#fff;
    background:#ff6665;
    padding:3px 2px 2px 3px;
    font-size:.2rem;
    border-radius:.05rem;
    margin-left:10px;
    position:relative;
    top:-.03rem;

}
.date{
    margin-top:.1rem;
    font-size:.24rem;
    color:#999999;
}
.time{
    margin-left:10px;
    font-weight:400;
}
.textExplain{
    padding:0 10px;
    font-size:.3rem;
    line-height:25px;
    margin-top: 15px;
}
.endTime{
    font-size:.24rem;
    color:#999999;
    padding:5px 10px;
}
.questionContent {
    margin: 20px 10px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.questionTopBg {
    position: absolute;
    top: -8px;
    left: 0;
} 

.question{
    font-size:15px;
    margin-top:10px;
    padding-left: 10px;
}
    .question:last-child {
        padding-bottom: 20px;
    }
    
     .answerOption {
        font-size: 13px;
        padding-left: 10px;
        margin-top: 10px;
    }

.radioOptionsIco{
    display:inline-block;
    width:12px;
    position:relative;
    top:1px;
    margin-right:15px;
}

.checkBoxOptionsIco{
    display:inline-block;
    width:12px;
    position:relative;
    top:1px;
    margin-right:15px;
}
.checkBoxOptionsIco img{
    display: block;
    width: 150%;
    height: auto;
}
.radioOptionsIco img{
    display: block;
    width: 150%;
    height: auto;
}
input[type="radio"]{
    position:absolute;
    display:block;
    width:inherit;
    height:.4rem;
    top:0;
    left:0;
    opacity:0;
}
input[type="checkbox"] {
    position: absolute;
    display: block;
    width: inherit;
    height: .4rem;
    top: 0;
    left: 0;
    opacity: 0;
}
textarea {
    /* padding: 10px; */
    width: 97%;
    margin-top: 0px;
    -webkit-appearance: none;
    border: 1px solid #CCCCCC;
    border-radius: .1rem;
    resize: none;
}
#btSubmit {
    width: 40%;
    margin-left: 30%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background: #ff9f22;
    border: none;
    -webkit-appearance: none;
    border-radius: 20px;
    margin-bottom: .5rem;
    margin-top: .5rem;
}
#btLook {
    width: 40%;
    margin-left: 30%;
    padding: 10px;
    font-size: 0.28rem;
    color: #fff;
    background: #ff9f22;
    border: none;
    -webkit-appearance: none;
    border-radius: 20px;
    margin-bottom: .5rem;
    margin-top: .5rem;
    border: none;
    outline: none;
    display: none;
}

.imgList{
    width: 90%;
    margin-left: 40px;
    display: -webkit-box;  
    display: -moz-box;    
    display: -ms-flexbox;  
    display: -webkit-flex; 
    display: flex;       
    flex: 1;
    -webkit-flex: 1;
    -o-flex: 1;
    -moz-flex: 1;
    overflow: hidden;
    flex-flow: wrap;
    -webkit-flex-flow:wrap;
    -ms-flex-flow:wrap;
    -moz-flex-flow:wrap;
}
.imgss{
	width: 65px;
    height: auto;
}
.imgItem{
    margin-right: 10px;
    margin-top: 10px;
}

.popUpBox {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    animation-name: popFadeIn;
    -webkit-animation-name: popFadeIn;
    -ms-animation-name: popFadeIn;
    -moz-animation-name: popFadeIn;
    -o-animation-name: popFadeIn;
    -webkit-animation-duration: 600ms;
    animation-duration: 600ms;
    -webkit-animation-fill-mode: both;
    z-index: 100;
}

.popUpBoxOut {
    animation-name: popFadeOut;
    -webkit-animation-name: popFadeOut;
    -ms-animation-name: popFadeOut;
    -moz-animation-name: popFadeOut;
    -o-animation-name: popFadeOut;
    -webkit-animation-duration: 600ms;
    animation-duration: 600ms;
    -webkit-animation-fill-mode: both;
}

@keyframes popFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .8;
    }
}

@keyframes popFadeOut {
    0% {
        opacity: .8;
    }

    100% {
        opacity: 0;
    }
}

.trackMatte {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .5;
}

.popContentBox {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    max-height: 80%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 100;
    background-color: white;
    border-radius: 10px;
    
}

.descriptionInfo {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: rgb(17,17,17);
    font-size: 12px;
}

.bottomBox {
    border-top: 1px solid rgb(218,218,222);
}

.btnTrue, .btnFalse {
    float: left;
    width: 50%;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    line-height: 40px;
    font-size: 14px;
    color: rgb(6, 193, 174);
}
.btnTrue {
    border-right: 1px solid rgb(218,218,222);
}

.headerTtitle {
    position: relative;
}
.queryResult {
    position: absolute;
    width: 65px;
    right: 2%;
    top: 75%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
    .queryResult span {
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }