<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="true" />
    {php echo register_jssdks();}
    {php include $this->template('shoucecss');}
    <style type="text/css">

        .slide_left_menu_bg.show_menu_bg {display: block;-webkit-animation-name: fadeIn;animation-name: fadeIn;-webkit-animation-duration: 600ms;animation-duration: 600ms;-webkit-animation-fill-mode: both;/* animation-fill-mode: both; */}
        .slide_left_menu_bg_other.show_menu_bg {display: block;-webkit-animation-name: fadeIn;animation-name: fadeIn;-webkit-animation-duration: 600ms;animation-duration: 600ms;-webkit-animation-fill-mode: both;/* animation-fill-mode: both; */}
        .slide_left_menu_bg {width: 100%;z-index: 998;background: rgba(0, 0, 0, 0.5);position: fixed;min-height: 100%;top: 0;left: 0;zoom: 1;overflow: hidden;display: none;height: 100%;z-index: 1000;overflow-y: scroll;}
        .slide_left_menu_bg_other {width: 100%;z-index: 998;background: rgba(0, 0, 0, 0.5);position: fixed;min-height: 100%;top: 0;left: 0;zoom: 1;overflow: hidden;display: none;height: 100%;
            z-index: 1000;overflow-y: scroll;display: none;}
        .slide_left_menu {width: 50%!important;right: 0;background-color: #fff;z-index: 999;min-height: 100%;position: absolute;}
        .slide_left_menu_ul_other {width: 100%;border: 1px solid #ccc;border-left: none;border-right: none;box-sizing: border-box;padding: 0 10px;}
        .slide_left_menu_ul_other li {height: 50px;line-height: 50px;border-bottom: 1px solid #ccc;font-size: 16px;width: 100%;box-sizing: border-box;padding: 0 10px 0 10px;overflow: hidden;
            position: relative;}
        .slide_left_menu_ul_other li.act {background: url({OSSURL}public/mobile/img/be_choose_icon.png) right center no-repeat;background-size: 16px;background-origin: content-box;-moz-background-origin: content-box;-webkit-background-origin: content-box;}
        .slide_left_menu_ul li.act {background: url({OSSURL}public/mobile/img/be_choose_icon_02.png) right center no-repeat;background-size: 16px;background-origin: content-box;-moz-background-origin: content-box;-webkit-background-origin: content-box;}
        .slide_left_menu_ul_other li:last-of-type {border-bottom: none;}
        .slide_left_menu_ul_other li .user_img {width: 50px;height: 50px;position: absolute;left: -5px;top: 0;box-sizing: border-box;padding: 10px;}
        .slide_left_menu_ul_other li .user_img img {width: 100%;height: 100%;border-radius: 50%;}
        .slide_left_menu_ul_other li .change_user {width: 40px;height: 100%;position: absolute;right: 0;top: 0;background: url({OSSURL}public/mobile/img/be_choose_icon.png) center no-repeat;background-size: 30px;}
        .slide_left_menu_ul li .user_img {width: 50px;height: 50px;position: absolute;left: -5px;top: 0;box-sizing: border-box;padding: 10px;}
        .slide_left_menu_ul li .user_img img {width: 100%;height: 100%;border-radius: 50%;}
        .slide_left_menu_til {height: 40px;line-height: 40px;box-sizing: border-box;padding: 0 40px 0 15px;position: relative;font-size: 16px;}
        .slide_left_menu_ul {width: 100%;border: 1px solid #ccc;border-left: none;border-right: none;box-sizing: border-box;padding: 0 10px;}
        .slide_left_menu_ul li {height: 50px;line-height: 50px;/*border-bottom: 1px solid #ccc;*/font-size: 16px;width: 100%;box-sizing: border-box;padding: 0 10px 0 50px;overflow: hidden;
            position: relative;}
        .manual_baby_situation_ul li .li_block {width: 100%;float: left;line-height: 20px;white-space: normal;word-break: break-all;}

        .header { width: 100%; height: 50px; line-height: 50px; position: fixed; z-index: 1000; top: 0; left: 0; box-shadow: 0 0 2px 0px rgba(0,0,0,0.3),0 0 6px 2px rgba(0,0,0,0.15); }
        .header .l { width: 50px; height: 50px; line-height: 50px; color: white; position: absolute; left: 0; top: 0; }
        .header .m { width: 100%; height: 50px; line-height: 50px; text-align: center; color: white; font-size: 18px; }
        .header .r { width: 50px; height: 50px; line-height: 50px; position: absolute; right: 0; top: 0; }
        .mainColor { background: {$school['headcolor']} !important; }
        .header .l a { font-size: 18px; color: white; display: block; width: 100%; height: 100%; text-align: center; }
        .head_til img{width: 25px;height: 25px;display: inline-block;float: left;border-radius: 40px;}
        body {background-color: #E7FAFF;}
        .bottom_control_row .prev_btn2 {margin: 15px 5px 15px 35px;float: left;width: 100px;background-color: #e5457f;border-radius: 3px;line-height: 35px;height: 35px;text-align: center;}
        .bottom_control_row .prev_btn2 a, .bottom_control_row .next_btn a {color: #fff;}
    </style>
    <script type="text/javascript" src="{MODULE_URL}public/mobile/js/jquery-1.11.3.min.js?v=4.8"></script>
    {php include $this->template('port');}
    <title>{$school['title']}</title>
</head>
<body>

<div class="header mainColor" id="titlebar">
    <div class="l">
        <a class="backOff" style="background:url({OSSURL}public/mobile/img/ic_arrow_left_48px_white.svg) no-repeat;background-size: 55% 55%;background-position: 50%;" href="{php echo $this->createMobileUrl('gkklist', array('schoolid' => $schoolid,'weid' => $weid), true)}"></a>
    </div>
    <div class="m">
        <a><span style="font-size: 18px">{$pj_tea['tname']}老师的评价</span></a>
    </div>
    {if $_GPC['checktype'] == 'myown'}
    <div class="r">
        <a href="javascript:;" class="choice_baby">
            <img style="height: 30px;margin-top:10px" src="{OSSURL}public/mobile/img/selectMean.png" class="img-responsive">
        </a>
    </div>
    {/if}
</div>
<div id="titlebar_bg" class="top_height_blank"></div>

<div class="All">
    <div class="manual_main1">
        <div class="manual_visible_box">

            <div class="manual_main_box2">
                <div class="head_til"><p><span style="color:black !important;">公开课：{$gkkinfo['name']}</span> </p> </br><img src="{if $teacher['thumb']}{php echo tomedia($teacher['thumb'])}{else}{php echo tomedia($school['tpic'])}{/if}">&nbsp;授课教师：{$teacher['tname']} </p> </br><span style="color:black !important;font-size: 14px;">评价人：{$pj_tea['tname']} 老师 </span>  </div>

                {if $_GPC['op'] =='edite'}
                <ul class="manual_baby_situation_ul">
                    {loop $list $row}
                    <li>
                        <div class="li_block_1" style="width:auto;">{$row['title']}</div>
                    </li><li style="border-bottom: 1px solid #c9c9c9;">
                    <div class="li_block_2" record_uid="{$row['id']}" style="width:100%">
                        {if $row['icon1']} <div class="situation_level1 {if !$row['iconlevel']}on{else}{if $row['iconlevel'] ==1}on{/if}{/if}" icon_index="1" style="background-image: url({php echo tomedia($row['icon1'])});width:auto">{$row['icon1title']}</div>{/if}
                        {if $row['icon2']} <div class="situation_level1 {if $row['iconlevel'] ==2}on{/if}" icon_index="2" style="background-image: url({php echo tomedia($row['icon2'])});">{$row['icon2title']}</div>{/if}
                        {if $row['icon3']}<div class="situation_level1 {if $row['iconlevel'] ==3}on{/if}" icon_index="3" style="background-image: url({php echo tomedia($row['icon3'])});">{$row['icon3title']}</div>{/if}
                        {if $row['icon4']} <div class="situation_level1 {if $row['iconlevel'] ==4}on{/if}" icon_index="4" style="background-image: url({php echo tomedia($row['icon4'])});">{$row['icon4title']}</div>{/if}
                        {if $row['icon5']} <div class="situation_level1 {if $row['iconlevel'] ==5}on{/if}" icon_index="5" style="background-image: url({php echo tomedia($row['icon5'])});">{$row['icon5title']}</div>{/if}
                    </div>
                </li>
                    {/loop}
                </ul>
                <div class="parent_evaluation_box">
                    <textarea placeholder="说一说你的评价,150字以内" id="eval_text"  maxlength="200" ></textarea>
                    <div class="clear1"></div>
                </div>
                {else if $_GPC['op'] =='check'}
                <ul class="manual_baby_situation_ul">
                    {loop $list1 $row}
                    <ul class="manual_baby_situation_ul">
                        <li>
                            <div class="li_block" style="margin-top: 5px;line-height: 25px;">{$row['title']}</div>
                            <div class="li_block">
                                <div style="float:left;margin-bottom: unset;color:red;font-weight: bold">你的评价：</div><div class="situation_level1" style="float:left;margin-bottom: unset;background-image: url({php echo tomedia($row['icon'])})">{$row['icontitle']}</div>
                            </div>
                        </li>
                    </ul>
                    {/loop}
                </ul>
                <div class="blank"></div>
                <div class="evaluation_box" style="border:unset;border-top: 1px solid #c9c9c9;">
                    <div class=" evaluation_box_text2">
                        <div class="evaluation_box_til3"> &nbsp;你的评语：</div>

                    </div>
                    {if !empty($mypl['content'])}
                    <div class="evaluation_box_content">{$mypl['content']}</div>
                    {else}
                    <div class="evaluation_box_content">你没有评语哦！</div>
                    {/if}
                </div>

                <div class="blank"></div>
                {/if}
                <div class="blank"></div>

                <div class="small_blank"></div>
            </div>
            {if $_GPC['op'] =='check'}
            <div class="bottom_control_row" style="    position: absolute;"></div>
            {else if $_GPC['op'] =='edite'}
            <div class="bottom_control_row" style="    position: absolute;">
                <div class="prev_btn" type="prev"><a href="javascript:void(0);">保存</a></div>

            </div>
            {/if}
        </div>


        <div class="clear"></div>
    </div>
    <div class="slide_left_menu_bg">
        <div class="slide_left_menu">
            <div class="slide_left_menu_til">教师列表</div>
            <ul class="slide_left_menu_ul">
                {loop $checkallteacher $row}
                <li onclick="isSelect({$row['userid']});" {if $userid == $row['userid']}class="act"{/if}>
                <div class="user_img">
                    <img src="{if $row['icon']}{php echo tomedia($row['icon'])}{else}{php echo tomedia($school['spic'])}{/if}">
                </div>
                <div style="font-size: 10px;"><span>{$row['s_name']}</span></div>

                </li>
                {/loop}
            </ul>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(".choice_baby").on("click", function(e) {
        e.stopPropagation();
        $(".slide_left_menu_bg").addClass("show_menu_bg");
    });

    $(".slide_left_menu_bg").on("click", function() {
        $(this).removeClass("show_menu_bg");
    });


    function isSelect(userid){
        location.href = "{php echo $this->createMobileUrl('gkkpingjia',array('schoolid'=>$schoolid,'op'=>check,'gkkid'=>$gkkid,'checktype'=>$_GPC['checktype']))}"+ '&pjuserid=' + userid  ;
        location.href = reload();
    }
    setTimeout(function() {
        if(window.__wxjs_environment === 'miniprogram'){
            $("#titlebar").hide();
            $("#titlebar_bg").hide();
            document.title="评价公开课 {if !empty($userid)} - {$myname['name']} {if $myname['type'] == 1 } {$pard} {else} 老师 {/if} {/if}";
        }
    }, 100);

</script>
<script>
    $(".manual_baby_situation_ul").on("click", ".li_block_2 div", function () {
        $(this).addClass("on").siblings("div").removeClass("on");
    })

    $(".prev_btn").on("click", function () {
        var comment = iphone_emoji_filter($.trim($("#eval_text").val()));
        var performance = "";
        $(".manual_baby_situation_ul li").each(function () {
            performance += $(this).find(".li_block_2").attr("record_uid") + "_" + $(this).find(".li_block_2 .on").attr("icon_index")+",";
        });
        var type = $(this).attr("type");
        $.ajax({
            url: "{php echo $this->createMobileUrl('gkkpingjia', array('schoolid' => $schoolid,'gkkid'=>$gkkid,'op' => 'savedata'), true)}",
            data: { comment: comment, performance: performance, sid: "{$it['sid']}", scid: "{$scid}", setid: "{$setid}" , tid: "{$it['tid']}", userid: "{$userid}", weid: "{$weid}"},
            type: "post",
            dataType:"json",
            success: function (data) {
                jTips(data.info, function () {
                    if (data.status == 1) {
                        window.location.href = "{php echo $this->createMobileUrl('gkkpjshare', array('schoolid' => $schoolid,'op' => 'check','userid' => $userid,'gkkid'=>$gkkid,'fenxiang'=>'fenxiang'), true)}";
                    }
                });
            }
        });
    });

</script>
<script>
    {if $_GPC['op'] == 'check'}
    wx.ready(function () {
        sharedata = {
            title: "{$sharetitle}",
            desc: "{$sharedesc}",
            link: "{$links}",
            imgUrl: "{$shareimgUrl}",
            success: function(){

            },
            cancel: function(){

            }
        };
        wx.onMenuShareAppMessage(sharedata);
        wx.onMenuShareTimeline(sharedata);
    });

    $(function() {

        WeixinJSShowShareMenu();

        WeixinJSShowProfileMenuAndShare();

    });
    {/if}
    function WeixinJSShowShareMenu(){
        if (typeof wx != "undefined"){
            wx.ready(function () {
                wx.showMenuItems({
                    menuList: ['menuItem:share:appMessage','menuItem:share:timeline'] // 要显示的菜单项，所有menu项见附录3
                });
            });
        }
    }


    function WeixinJSShowProfileMenuAndShare(){

        if (typeof wx != "undefined"){
            wx.ready(function () {
                wx.showMenuItems({
                    menuList: ['menuItem:share:appMessage','menuItem:share:timeline','menuItem:profile','menuItem:addContact','menuItem:favorite'] // 要显示的菜单项，所有menu项见附录3
                });
            });
        }
    }
    var WeixinApi = (function () {

        return {
            ready           :wxJsBridgeReady,
            imagePreview    :imagePreview
        };

        "use strict";

        /**
         * 调起微信Native的图片播放组件。
         * 这里必须对参数进行强检测，如果参数不合法，直接会导致微信客户端crash
         *
         * @param {String} curSrc 当前播放的图片地址
         * @param {Array} srcList 图片地址列表
         */
        function imagePreview(curSrc,srcList) {
            if(!curSrc || !srcList || srcList.length == 0) {
                return;
            }
            WeixinJSBridge.invoke('imagePreview', {
                'current' : curSrc,
                'urls' : srcList
            });
        }

        /**
         * 当页面加载完毕后执行，使用方法：
         * WeixinApi.ready(function(Api){
         *     // 从这里只用Api即是WeixinApi
         * });
         * @param readyCallback
         */
        function wxJsBridgeReady(readyCallback) {
            if (readyCallback && typeof readyCallback == 'function') {
                var Api = this;
                var wxReadyFunc = function () {
                    readyCallback(Api);
                };
                if (typeof window.WeixinJSBridge == "undefined"){
                    if (document.addEventListener) {
                        document.addEventListener('WeixinJSBridgeReady', wxReadyFunc, false);
                    } else if (document.attachEvent) {
                        document.attachEvent('WeixinJSBridgeReady', wxReadyFunc);
                        document.attachEvent('onWeixinJSBridgeReady', wxReadyFunc);
                    }
                }else{
                    wxReadyFunc();
                }
            }
        }

        return {
            version         :"2.5",
            ready           :wxJsBridgeReady,
            imagePreview    :imagePreview
        };
    })();
    <?php
    if (!empty($_W['setting']['remote']['type'])) {
        $urls = $_W['SITEROOT'].$_W['config']['upload']['attachdir'].'/';
    } else {
        $urls = $_W['attachurl'];
    }
        ?>
    var ALI_URL = "{$urls}";
    var ALI_URL_VIEDO = "{$urls}";
    function wxImageShow(node){
        var srcList = new Array();
        var watermark='';
        var imgs = $(node).closest('.parent').find("img");
        var curSrc = $(node).find("img")[0]['src'].split("@");
        //alert(curSrc);
        var curImgIndex=0;
        for(i=0;i<imgs.length;i++){
            var imgsrc = imgs[i]['src'].split("@");
            if(imgsrc.length>1){
                if(imgsrc[1].split("watermark").length>1){
                    srcList.push(imgsrc[0].replace(ALI_URL,ALI_URL_VIEDO)+'@watermark'+imgsrc[1].split("watermark")[1]);
                    watermark = '@watermark'+imgsrc[1].split("watermark")[1];
                }else{
                    srcList.push(imgsrc[0].replace(ALI_URL,ALI_URL_VIEDO));
                }
            }else{
                srcList.push(imgsrc[0]);
            }
            if(curSrc[0]==imgsrc[0]){
                curImgIndex=i;
            }
        }
        curSrc[0]=curSrc[0]+watermark;

        WeixinApi.imagePreview(curSrc[0].replace(ALI_URL,ALI_URL_VIEDO), srcList);
    }
</script>
{php include $this->template('newfooter');} 