<script type="text/javascript" src="./resource/js/require.js"></script>
{loop $iconsF $key $row}	
<div id="iconeditor{$row['id']}" class="editor" style="top: 500px !important;">
		<div class="ng-scope">
		<!--页面标题设置-->
			<div class="app-header-setting">
				<div class="arrow-left"></div>
				<div class="app-header-setting-inner">
					<div class="panel panel-default">
						<div class="panel-body form-horizontal">
							<input type="hidden" name="place[{$row['id']}]" value="13" />
							<input type="hidden" name="type[{$row['id']}]" value="1" />
							<div class="form-group">
								<label class="col-xs-3 control-label"><span class="red">*</span>按钮名称</label>
								<div class="col-xs-9">
									<input type="text" placeholder="{$row['name']}" name="btnname[{$row['id']}]" value="{$row['name']}" class="form-control ng-pristine ng-untouched ng-valid">
								</div>
							</div>	
							<div class="form-group">
								<label class="control-label col-xs-3"><span class="red">*</span>图标</label>
								<div class="col-xs-9">
									{template 'public/imgeschoses'}
									<div class="input-group ">
										<input type="text" name="iconpics[{$row['id']}]" id="iconpics{{$row['id']}}" value="{if $row['icon']}{$row['icon']}{else}{OSSURL}public/mobile/img/link_msg.png{/if}" class="form-control" autocomplete="off" filename="" url="">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button" onclick="showImageDialogT(this,{$row['id']});">选择图片</button>
										</span>
									</div>
									<div class="input-group " style="margin-top:.5em;">
										<img src="{if $row['icon']}{php echo tomedia($row['icon'])}{else}{OSSURL}public/mobile/img/link_msg.png{/if}" onerror="" class="img-responsive img-thumbnail" width="150">
										<em class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片" onclick="deleteImage(this)">×</em>
									</div>
									<span class="help-block">推荐尺寸45*45左右,正方形图标</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
{/loop}


	<script src="{MODULE_URL}public/web/js/diyjs.js" type="text/javascript"></script>