	<div class="modal fade" style="min-width: 583px!important;" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
		<style>.now{background-color: #14d0b430;}.now_porint{width: 13px;padding-right: 2px;}.suc_icon{width: 13px;padding-right: 2px;}.text_new{white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}.modal-title{text-align:center;color:#333;font-size: 17px;}.modal-left{width:47%;float:left;max-height: 400px;}.modal-right{width:47%;float:left;margin-left: 30px;max-height: 400px;}.group_left{padding: 20px;text-align:left;border-radius: 6px;background: #acefdf59;}.group_right{padding: 20px;text-align:left;border-radius: 6px;background: #ca193c14;}</style>
		<div class="modal-dialog">
			<div class="modal-content" style="border-radius: 20px;">
				<div class="modal-header">
					<h4 class="modal-title">导入进度</h4>
				</div>
				<div class="modal-body" style="width: 100%;">
					<div class="help block" id="porssword"style="text-align:center;"></div>
					<div class="progress"> 
						<div class="progress-bar progress-bar-info" id="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
							<span class="sr-only"></span>
						</div>
					</div>
					<div class="modal-left">
						<div class="help block" id="suc_input" style=" text-align:center;">成功</div>
						<div class="form-group group_left" id="left">
						</div>
					</div>
					<div class="modal-right">
						<div class="help block" id="def_input" style="text-align:center;">失败</div>
						<div class="form-group group_right" id="right">
						</div>
					</div>
				</div>
				<div class="modal-footer" style="border-radius: 6px;">
					<button type="button" class="btn btn-danger" onclick="close_inupt()">关闭</button>
				</div>
			</div>
		</div>
	</div>
    <script type="text/javascript">
		function close_inupt() {
			$('#Modal3').modal('toggle');
			$("#left").empty();
			$("#right").empty();
			$("#porssword").html("");
			$("#progressbar").css("width","0%");
			location.reload();
		}
		function submits(type,form) {
			$("#progressbar").css("width","0%");
			var qh_id = $("#qh_id").val();
			var ob_id = $("#ob_id").val();
			if(type == 'input_cj'){
				if(qh_id == '' || qh_id == null){
					alert('抱歉，请选择期号');
					return false;
				}
			}
			if(type == 'input_teapf'){
				if(ob_id == '' || ob_id == null){
					alert('抱歉，请选择归属项目');
					return false;
				}
			}
		
			var form = new FormData(document.getElementById(form));
			$.ajax({
				url: "{php echo $this->createWebUrl('execl_input', array('op' => 'export', 'schoolid' => $schoolid))}",
				type: "post",
				data: form,
				processData: false,
				contentType: false,
				success: function(result) {
					var obj = jQuery.parseJSON(result);
					if(obj.result){
						if(obj.count >= 1){
							$("#left").empty();
							$("#right").empty();
							$('#Modal3').modal('toggle');
							gopress(obj.count,obj.datas,type);
						}
					}else{
						alert(obj.msg);
					}
					
				},
				error: function(e) {
					alert('访问网络失败');
				}
			});
		}
		function gopress(count,datas,type) {
			$("#progressbar").css("width","0%");
			var progress_pj = parseInt(100/count);
			var nowpro = 0;
			var qh_id = $("#qh_id").val();
			var ob_id = $("#ob_id").val();
			var fromtid = $("#fromtid").val();
			var pointicon = "{OSSURL}public/mobile/img/arrow_right.png";
			var suc_icon = "{OSSURL}public/mobile/img/icon-checked.png";
			var err_icon = "{OSSURL}public/mobile/img/yellowfork.png";
			var suc_input = 1;
			var def_input = 1;
			for (var i=2;i<count+2;i++){
				$.ajax({
					url: "{php echo $this->createWebUrl('execl_input', array('schoolid' => $schoolid))}"+"&op="+type,
					type: "post",
					dataType: "json",
					data: {
						qh_id:qh_id,
						ob_id:ob_id,
						fromtid:fromtid,
						execl:JSON.stringify(datas[i]),
						line:i
					},
					success: function (data) {
						nowpro = nowpro + progress_pj;
						if(i== count+2){
							$("#progressbar").css("width","100%");
							$("#porssword").html("100%");
							$(".now").removeClass("now");
							$(".now_porint").hide();
						}else{
							$("#progressbar").css("width",nowpro+"%");
							$("#porssword").html(nowpro+"%");
						}
						if (data.result) {
							suc_html = "<img class='suc_icon' src='"+suc_icon+"'>";
							html = "<div class='help block now text_new'><img class='now_porint' src='"+pointicon+"'><img class='suc_icon' src='"+suc_icon+"'>"+data.strs+"</div>";
							$(".now").removeClass("now");
							$(".now_porint").hide();
							$("#left").prepend(html);
							$("#suc_input").html("成功"+suc_input+"条");
							suc_input++;
						}else{
							html = "<div class='help block text_new'><img class='suc_icon' src='"+err_icon+"'>第<span style='color:red'>"+data.line+"</span>行:"+data.tips+"</div>";
							$("#right").prepend(html);
							$("#def_input").html("失败"+def_input+"条");
							def_input++;
						}
					}		
				});
			}
		}
    </script>