{template 'public/header'}
{template 'public/comhead'}
<input type="hidden" name="schoolid" value="{$schoolid}" />
    <div class="panel panel-info">
        <div class="panel-body">
           {php echo $this -> set_tabbar($action1, $schoolid, $_W['role'], $_W['isfounder']);}
        </div>
    </div>
<ul class="nav nav-tabs">
    <li class="qx_edit {if $operation == 'post'}active{/if}"><a href="{php echo $this->createWebUrl('coursetype', array('op' => 'post', 'schoolid' => $schoolid))}">添加类型</a></li>
    <li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('coursetype', array('op' => 'display', 'schoolid' => $schoolid))}">类型管理</a></li>
</ul>
 <style>
.cLine {
    overflow: hidden;
    padding: 5px 0;
  color:#000000;
}
.alert {
padding: 8px 35px 0 10px;
text-shadow: none;
-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
background-color: #f9edbe;
border: 1px solid #f0c36d;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
color: #333333;
margin-top: 5px;
}
.alert p {
margin: 0 0 10px;
display: block;
}
.alert .bold{
font-weight:bold;
}
</style>
<div class="cLine">
    <div class="alert">
	    <p>
	    	<span class="bold">使用方法：</span>    
	   		<strong><font color='red'>特别提醒: 该类型只适用于培训课程的分类!</font></strong>
	    </p>
    </div>
</div>
{if $operation == 'post'}
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <input type="hidden" name="parentid" value="{$parent['id']}" />
		<input type="hidden" name="schoolid" value="{$schoolid}" />
        <div class="panel panel-default">
            <div class="panel-heading">时段管理</div>
            <div class="panel-body">
				<div id="custom-url">
					{if !empty($sid)}
					<input type="hidden" name="old" value="111" />
					<div class="form-group">
						<label class="col-sm-2" style="width:5%">排序</label>
						<div class="col-sm-2 col-lg-2">
							<input type="text" name="ssort" placeholder="排序" class="form-control" value="{$coursetype['ssort']}" />
						</div>
						<label class="col-sm-2" style="width:10%"></label>
						<label class="col-sm-2" style="width:8%">课程类型</label>
						<div class="col-sm-2 col-lg-2" style="width:30%">
							<input type="text" name="cTypeName" placeholder="课程类型" class="form-control" value="{$coursetype['sname']}" />
						</div>
					</div>
					{else}
					<input type="hidden" name="new[]" value="111" />
					<div class="form-group">
						<label class="col-sm-2" style="width:5%">排序</label>
						<div class="col-sm-2 col-lg-2">
							<input type="text" name="ssort_new[]" placeholder="排序" class="form-control" value="" />
						</div>
						<label class="col-sm-2" style="width:10%"></label>
						<label class="col-sm-2" style="width:8%">课程类型</label>
						<div class="col-sm-2 col-lg-2" style="width:30%">
							<input type="text" name="cTypeName_new[]" placeholder="课程类型" class="form-control" value="" />
						</div>
					</div>				
					{/if}	
                </div>	
				<div class="clearfix template"> 
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
						<div class="col-sm-9 col-xs-12">
							<a href="javascript:;" id="custom-url-add"><i class="fa fa-plus-circle"></i> 添加类型</a>
						</div>
					</div>	
				</div>				
            </div>
        </div>
        <div class="form-group col-sm-12">
            <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
    </form>
</div>
<script>
	$('#custom-url-add').click(function(){
	var html =  '<div class="form-group">'+
				'<input type="hidden" name="new[]" value="111" />	'+
				'		<label class="col-sm-2" style="width:5%">排序</label>'+
				'		<div class="col-sm-2 col-lg-2">'+
				'			<input type="text" name="ssort_new[]" placeholder="排序" class="form-control" value="" />'+
				'		</div>'+
				'		<label class="col-sm-2" style="width:10%"></label>'+
				'		<label class="col-sm-2" style="width:8%">课程类型</label>'+
				'		<div class="col-sm-2 col-lg-2" style="width:30%">'+
				'			<input type="text" name="cTypeName_new[]" placeholder="课程类型" class="form-control" value="" />'+
				'		</div>'+
				'	<div class="col-sm-1" style="margin-top:5px">'+
				'   	<a href="javascript:;" class="custom-url-del"><i class="fa fa-times-circle"></i></a>'+
				'	</div>'+
				'</div>';
			;
	$('#custom-url').append(html);
});

$(document).on('click', '.custom-url-del', function(){
	$(this).parent().parent().remove();
	return false;
});	
</script>
{elseif $operation == 'display'}
<div class="main">
    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-primary" href="javascript:location.reload()"><i class="fa fa-refresh"></i>刷新</a>
        </div>
    </div>
    <div class="panel panel-default">
        <form action="" method="post" class="form-horizontal form" >
            <input type="hidden" name="schoolid" value="{$schoolid}" />
            <div class="table-responsive panel-body">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
					    <th style="width:100px;">ID</th>
					    <th style="width:100px;">序号</th>
                        <th>课程类型</th>
                        <th class="qx_e_d" style="text-align:right;">编辑/删除</th>
                    </tr>
                    </thead>
                    <tbody id="level-list">
	                    {loop $coursetype $row}
	                    <tr>
						    <td><div class="type-parent">{$row['sid']}</div></td>
						    <td><div class="type-parent">{$row['ssort']}</div></td>
	                        <td><div class="type-parent">{$row['sname']}&nbsp;&nbsp;</div></td>
	                        <td class="qx_e_d" style="text-align:right;"><a class="btn btn-default btn-sm qx_edit" href="{php echo $this->createWebUrl('coursetype', array('op' => 'post', 'sid' => $row['sid'], 'schoolid' => $schoolid))}" title="编辑"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a class="btn btn-default btn-sm qx_e_d" href="{php echo $this->createWebUrl('coursetype', array('op' => 'delete', 'sid' => $row['sid'], 'schoolid' => $schoolid))}" onclick="return confirm('确认删除此分类吗？');return false;" title="删除"><i class="fa fa-times"></i></a></td>
	                    </tr>
	                    {/loop}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    {$pager}
</div>
<script type="text/javascript">
	$(document).ready(function() {
		var e_d = 2 ;
		{if !(IsHasQx($tid_global,1000242,1,$schoolid))}
			$(".qx_edit").hide();
			e_d = e_d - 1 ;
		{/if}
		{if !(IsHasQx($tid_global,1000243,1,$schoolid))}
			$(".qx_delete").hide();
			e_d = e_d - 1 ;
		{/if}
		if(e_d == 0){
			$(".qx_e_d").hide();
		}
	});	
</script>
{/if}
{template 'public/footer'}