{template 'public/header'}
{template 'public/comhead'}
<link type="text/css" rel="stylesheet" href="./resource/components/switch/bootstrap-switch.min.css?v=2018020415">
<input type="hidden" name="schoolid" value="{$schoolid}" />

 <style>
	 .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {color: #fff;background: #a0053b;}

.cLine {
    overflow: hidden;
    padding: 5px 0;
  color:#000000;
}
.alert {
padding: 8px 35px 0 10px;
text-shadow: none;
-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
background-color: #f9edbe;
border: 1px solid #f0c36d;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
color: #333333;
margin-top: 5px;
}
.alert p {
margin: 0 0 10px;
display: block;
}
.alert .bold{
font-weight:bold;
}
 </style>

{if $operation == 'post'}
<div class="panel panel-info">
    <div class="panel-heading"><a class="btn btn-primary" onclick="javascript :history.back(-1);"><i class="fa fa-tasks"></i> 返回活动列表</a></div>
</div>
<div class="cLine">
    <div class="alert">
    <p><span class="bold">说明：</span>
  
    </p>
    </div>
</div>
<div class="main">
	<form action="" method="post" class="form-horizontal form"	enctype="multipart/form-data">
		<div class="panel panel-default">
			<div class="panel-body" >
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>活动名称</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="gtitle" class="form-control" value="{$item1['title']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>排序:</label>
                     <div class="col-sm-2 col-lg-2">
				        <div class="input-group">
						<input type="text" name="gsort" class="form-control" value="{$item1['ssort']}" />
                        </div>
				    </div>
			    </div>
			    <div class="form-group">
				    
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>起止时间：</label>
                     <div class="col-sm-9 col-lg-2" >
						{php echo tpl_form_field_daterange('timerange', array('start' => date('Y-m-d', $starttime ), 'end' => date('Y-m-d', $endtime)));}
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>活动缩略图</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_form_field_image('thumb', $item1['thumb'])}

					<div class="help-block">缩略图建议尺寸：90像素 * 70像素</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>活动幻灯片</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_form_field_multi_image('banners', $bannerOutarr)}

					<div class="help-block">幻灯片尺寸必须为400*400 </div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>活动描述</label>
					<div class="col-sm-9">
				   		{php echo tpl_ueditor('content', $item1['content']);}
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2  control-label" >选择班级</label>
					<div class="col-sm-9 col-xs-6">
						<div class="input-group text-info">
							<label class="checkbox-inline"><input type="checkbox"	name="allchecked"  value="allc" class="check_all" {if $item1['isall']}checked="checked" {/if} />全体学生</label>
							{loop $banji $uni}
							{php $is = $this->uniarr($uniarr,$uni['sid']);}
									<label for="uni_{$uni['sid']}" class="checkbox-inline"><input id="uni_{$uni['sid']}" type="checkbox" name="arr[]" value="{$uni['sid']}"{if ($is)}checked="checked"{/if}> {$uni['sname']}</label>
							{/loop}
						</div>
						<div class="help-block">选择允许报名的班级</div>
					</div>
				</div>
				{if empty($item1)}
				<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">创建后是否群发</label>
							<div class="col-sm-9">
								<label class="radio-inline">
									<input type="radio" name="is_allsend" value="1" {if $reply['is_wxsign']== 1 }checked{/if} id="credit8">是
								</label>
								<label class="radio-inline">
									<input type="radio" name="is_allsend" value="2" {if $reply['is_wxsign'] == 2 || empty($reply['is_wxsign']) }checked{/if} id="credit9">否
								</label>
								<div class="help-block">选择活动创建后是否群发至相关班级</div>
							</div>	
						</div>
						{/if}
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>报名费</label>
                     <div class="col-sm-2 col-lg-2">
				        <div class="input-group">
						<input type="text" name="bmfy" class="form-control" value="{$item1['cost']}" />
                        </div>
				     </div>
			    </div>	
				    
				   				 
                </div>
				

			</div>
		
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>

<script type="text/javascript">
	
var checkall = false ;
	$("#showtype").change(function() {
		var selectType = $("#showtype option:selected").attr('value');
		if( selectType == 1 || selectType == 2){
			$("#xsxgdiv").show();
			$("#jflabel").hide();
			$("#jfdiv").hide();
		}else{
			$("#xsxgdiv").hide();
			$("#jflabel").show();
			$("#jfdiv").show();
		}
	});	
$(".check_all").click(function(){
	if(checkall == false){
		checkall= true;
	}else if(checkall == true){
		checkall = false;
	}
	$("input[type='checkbox']").each(function() {  
        this.checked = checkall;  
    }); 
	//var checked = $(this).get(0).checked;
	//alert(checked);
	//$("input[type=checkbox]").attr("checked",checkall);
});
</script>
{elseif $operation == 'display'}
<div class="panel panel-info">
	<div class="panel-heading">筛选</div>
	<div class="panel-body">
		
         <div class="col-sm-2 col-lg-2">						
						<a class="btn btn-default qx_1702" href="{php echo $this->createWebUrl('groupactivity', array('op' => 'post', 'schoolid' => $schoolid))}" ><i class="fa fa-qrcode">&nbsp;&nbsp;添加集体活动</i></a>
                    </div>	   
                
                    <form accept-charset="UTF-8" action="./index.php" class="form-horizontal" id="diandanbao/table_search" method="get" role="form">
                        <div style="margin:0;padding:0;display:inline">
                        <input name="utf8" type="hidden" value="✓"></div>
                        <input type="hidden" name="c" value="site" />
                        <input type="hidden" name="a" value="entry" />
                        <input type="hidden" name="m" value="fm_jiaoyu" />
                        <input type="hidden" name="do" value="groupactivity" />
						<input type="hidden" name="schoolid" value="{$schoolid}" />
                        
				 <div class="form-group">
										
                   						
                    		
				</div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width: 100px;">按活动名称</label>
                    <div class="col-sm-2 col-lg-2">
                        <input class="form-control" name="group_name" id="" type="text" value="{$_GPC['group_name']}">
                    </div>
                	<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width: 100px;">按起止时间范围</label>
					<div class="col-sm-2 col-lg-2">
						{php echo tpl_form_field_daterange('searchtime', array('start' => date('Y-m-d', $searchStime), 'end' => date('Y-m-d', $searchEtime)));}
					</div>

					 <div class="col-sm-2 col-lg-2" style="margin-left: 55px;">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    </div>
                    			
				</div>	
				

				<div class="form-group">
				

					</div>
                    </form>
               
            
	</div>
</div>
<div class="cLine">
    <div class="alert">
    <p><span class="bold">说明：</span>
  
    </p>
    </div>
</div>

<div class="panel panel-default">
	<div class="table-responsive panel-body">
		<table class="table">
			<thead>
				<tr>
					<th style="width:50px">排序</th>
					<th>缩略图</th>
					<th>标题</th>
					<th>报名费</th>
					<th>报名限制</th>
					<th >活动起止时间</th>
					<th >报名人数</th>
					<th class="qx_1703" >查看报名情况</th>
					<th  class="qx_e_d" style="text-align:right;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr>
					<td><span>{$item['ssort']}</span></td>
					<td><img src="{php echo tomedia($item['thumb'])}" width="50"></td>
					<td>
						{$item['title']}
					</td>
					<td>
						{if $item['cost'] != 0 }
						<span class="label label-success">{$item['cost']}</span>
						{else}
						<span class="label label-warning">无报名费</span>
						{/if}
					</td>
					<td>
						{if $item['isall'] == 1}
						<span class="label label-danger">全体可报</span>
						{else}
						<span class="label label-info">限制报名</span>
						{/if}
					</td>					
					<td>
						<span class="label label-info">{php echo date('Y-m-d',$item['starttime'])." 至 ".date('Y-m-d',$item['endtime'])}</span>
					</td>
					<td>
						<span class="label label-info">{$item['signcount']}</span>
					</td>
					<td class="qx_1703" style="overflow:visible; word-break:break-all; text-overflow:auto;white-space:normal">{if $item['signcount'] != 0} <a class="btn btn-success btn-sm"  title="查看报名情况" href="{php echo $this->createWebUrl('gasignup', array('gaid' => $item['id'], 'op' => 'display', 'schoolid' => $schoolid))}" >&nbsp;&nbsp;查看报名情况</i></a>{else}<span class="label label-danger">暂无报名</span>{/if}</td>
					
					<td class="qx_e_d" style="text-align:right;">
						<a class="btn btn-default btn-sm qx_1702" href="{php echo $this->createWebUrl('groupactivity', array('id' => $item['id'], 'op' => 'post', 'schoolid' => $schoolid))}" title="编辑"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a class="btn btn-default btn-sm qx_1705" href="{php echo $this->createWebUrl('groupactivity', array('id' => $item['id'], 'op' => 'delete', 'schoolid' => $schoolid))}" onclick="return confirm('此操作不可恢复，确认删除并清空该活动报名记录？');return false;" title="删除"><i class="fa fa-times"></i></a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
</div>
{$pager}
{/if}
<script type="text/javascript">
$(function(){
	var e_d = 2 ;
	{if (!(IsHasQx($tid_global,1001702,1,$schoolid)))}
		$(".qx_1702").hide();
		e_d = e_d - 1 ;
	{/if}
	{if (!(IsHasQx($tid_global,1001703,1,$schoolid)))}
		$(".qx_1703").hide();
	{/if}
	{if (!(IsHasQx($tid_global,1001705,1,$schoolid)))}
		$(".qx_1705").hide();
		e_d = e_d - 1 ;
	{/if}
	if(e_d == 0){
		$(".qx_e_d").hide();
	}
});
</script>
{template 'public/footer'}