<script type="text/javascript" src="{MODULE_URL}public/web/js/jquery.magnific-popup.js"></script>
<link rel="stylesheet" href="{MODULE_URL}public/web/css/magnific-popup.css">

<div id="addPhotoBox1" name="addPhotoBox">
						    <div class="gallery" data-toggle="lightbox-gallery">
								<div class="photoBox" id="photo1" style="width:200px;height:200px;">								
									<div class="img" style="width:200px;height:200px;">
											<div class="gallery-image">
												<a id="a1" href="{php echo tomedia($backdata['picarr1'])}" target="_blank" class="gallery-link">
													<img  id="img1" src="{php echo tomedia($backdata['picarr1'])}" alt="image" style="width:100%;">
												</a>
											</div>
									</div>	
								</div>
								<div class="photoBox" id="photo2" style="width:200px;height:200px;">								
									<div class="img" style="width:200px;height:200px;">
											<div class="gallery-image">
												<a id="a2" href="{php echo tomedia($backdata['picarr2'])}" target="_blank" class="gallery-link">
													<img id="img2" src="{php echo tomedia($backdata['picarr2'])}" alt="image" style="width:100%;">
												</a>
											</div>
									</div>	
								</div>
								<div class="photoBox" id="photo3" style="width:200px;height:200px;">								
									<div class="img" style="width:200px;height:200px;">
											<div class="gallery-image">
												<a id="a3" href="{php echo tomedia($backdata['picarr3'])}" target="_blank" class="gallery-link">
													<img id="img3" src="{php echo tomedia($backdata['picarr3'])}" alt="image" style="width:100%;">
												</a>
											</div>
									</div>	
								</div>
								<div class="photoBox" id="photo4" style="width:200px;height:200px;">								
									<div class="img" style="width:200px;height:200px;">
											<div class="gallery-image">
												<a id="a4" href="{php echo tomedia($backdata['picarr4'])}" target="_blank" class="gallery-link">
													<img id="img4" src="{php echo tomedia($backdata['picarr4'])}" alt="image" style="width:100%;">
												</a>
											</div>
									</div>	
								</div>
								<div class="photoBox" id="photo5" style="width:200px;height:200px;">								
									<div class="img" style="width:200px;height:200px;">
											<div class="gallery-image">
												<a id="a5" href="{php echo tomedia($backdata['picarr5'])}" target="_blank" class="gallery-link">
													<img id="img5" src="{php echo tomedia($backdata['picarr5'])}" alt="image" style="width:100%;">
												</a>
											</div>
									</div>	
								</div>
			                </div>
			            </div>