{template 'public/header'}
{template 'public/comhead'}
<!-- <script src="{$_W['siteroot']}addons/fm_jiaoyu/public/web/js/jquery.easypiechart.js"></script> -->
{if $operation == 'display'}
<style>
.pull-left{margin-right: 10% !important; width: 66px;height: 66px;text-align: center;line-height: 65px;}
.icon-rounded {color: #ffffff;border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px; -o-border-radius: 50px;-ms-border-radius: 50px;font-size: 25px;}
.text-succ{
	color:#11c8cb;
}
.text-dang{
	color:#f45021;
}
.text-infoo{
	color:#fb8327;
}
</style>
{template 'mobile/face'}
<style>
.modal-body {width: 50%;float: left;  border-bottom: 1px solid #F1F3F5;border-right: 1px solid #F1F3F5;}
.form=group { position: relative;padding: 0}.form-group img{width:129px;width:129px;} .form-group .mask .wi-right:before {content: "\e6c1";}
.form-group .mask{position: absolute;font-family: we7icon!important;top: 29px;left: 28%;width: 129px;height: 129px;border-radius: 50%;background: rgba(0,0,0,.5);color: #fff;
line-height: 129px;text-align: center;display: none;}
 </style>
<div class="modal fade" style="min-width: 583px!important;" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static"></div>
<input type="hidden" id="nowms" value="">
<input type="hidden" id="changemsurl" value="{$rlsrll}">
<div class="clearfix">
	<div class="row">
		{if $schooltype}
		<div class="col-sm-3" style="width: 20%;">
			<div class="ibox float-e-margins">
				<div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
					<span class="label label-primary pull-right">今天</span>
					<h5>排课数</h5>
				</div>
				<div class="ibox-content">
					<i class="pull-left fa fa-language icon-rounded" style="background-color: #9358ac;"></i>
					<h1 class="no-margins" id="todayKc">{$todayKc}节</h1>
					<div class="stat-percent font-bold text-success">{if $todayKc !=0 & $allKc !=0}{php echo sprintf('%.2f', ($todayKc/$allKc)*100);}{else}0.00{/if}%<i class="fa fa-bolt"></i>
					</div>
					<small>占总排课</small>
				</div>
			</div>
		</div>
		 <div class="col-sm-3" style="width: 20%;">
			<div class="ibox float-e-margins">
				<div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
					<span class="label label-primary pull-right">今天</span>
					<h5>签到人数</h5>
				</div>
				<div class="ibox-content">
					<i class="pull-left fa fa-check icon-rounded" style="background-color: #1eb11e;"></i>
					<h1 class="no-margins" id="todaySign">{$todaySign}人</h1>
					<div class="stat-percent font-bold text-success">{if $todaySign !=0 & $allSign !=0}{php echo sprintf('%.2f',( $todaySign/$allSign)*100);}{else}0.00{/if}%<i class="fa fa-bolt"></i>
					</div>
					<small>占总签到</small>
				</div>
			</div>
		</div>
		<div class="col-sm-3" style="width: 20%;">
			<div class="ibox float-e-margins">
			   <div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
					<span class="label label-primary pull-right">今天</span>
					<h5>购买课程人数</h5>
				</div>
				<div class="ibox-content">
					<i class="pull-left fa fa-users icon-rounded" style="background-color:#0ebdab;"></i>
					<h1 class="no-margins" id="todayBuy">{$todayBuy}人</h1>
					<div class="stat-percent font-bold text-info">{if $todayBuy !=0 & $allBuy !=0}{php echo sprintf('%.2f', ($todayBuy/$allBuy)*100);}{else}0.00{/if}%<i class="fa fa-bolt"></i>
					</div>
					<small>占购买课程</small>
				</div>
			</div>
		</div>
		<div class="col-sm-3" style="width: 20%;">
			<div class="ibox float-e-margins">
				<div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
					<span class="label label-primary pull-right">今天</span>
					<h5>新增学生</h5>
				</div>
				<div class="ibox-content">
					<i class="pull-left fa fa-user icon-rounded" style="background-color:#ef553a;"></i>
					<h1 class="no-margins" id="todayStu">{$todayStu}人</h1>
					<div class="stat-percent font-bold text-navy">{if $todayStu !=0 & $allstu_lee !=0}{php echo sprintf('%.2f', ($todayStu/$allstu_lee)*100);}{else}0.00{/if}%<i class="fa fa-bolt"></i>
					</div>
					<small>占总人数</small>
				</div>
			</div>
		</div>
	   {if $logo['is_cost'] == 1 || $_W['isfounder'] || $_W['role'] == 'owner' || $_W['role'] == 'vice_founder'}
		<div class="col-sm-3" style="width: 20%;">
			<div class="ibox float-e-margins">
				<div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
					<span class="label label-primary pull-right">今天</span>
					<h5>总收入额</h5>
				</div>
				<div class="ibox-content">
					<i class="pull-left fa fa-rmb icon-rounded" style="background-color:#00aced;"></i>
					<h1 class="no-margins">{if !empty($cose)}{$cose}{else}0{/if}元</h1>
					<div class="stat-percent font-bold text-danger">{if !empty($cose)}{php echo sprintf('%.2f', $cose/$ddzj);}%{else}0.00%{/if}<i class="fa fa-bolt"></i>
					</div>
					<small>占总收入</small>
				</div>
			</div>
		</div>
		{/if}	
		{else}
		<div class="col-sm-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
					<span class="label label-primary pull-right">今天</span>
					<h5>报名数</h5>
				</div>
				<div class="ibox-content">
					<i class="pull-left fa fa-users icon-rounded" style="background-color: #9358ac;"></i>
					<h1 class="no-margins" id="baom">{$baom}人</h1>
					<div class="stat-percent font-bold text-success">{if $baom !=0 & $bm !=0}{php echo sprintf('%.2f', $baom/$bm);}{else}0.00{/if}%<i class="fa fa-bolt"></i>
					</div>
					<small>占总报名</small>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="ibox float-e-margins">
			   <div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
					<span class="label label-primary pull-right">今天</span>
					<h5>班级圈消息</h5>
				</div>
				<div class="ibox-content">
					<i class="pull-left fa fa-weixin icon-rounded" style="background-color:#1eb11e;"></i>
					<h1 class="no-margins" id="bjqz">{$bjqz}条</h1>
					<div class="stat-percent font-bold text-info">{if $bjqz !=0 & $bjq !=0}{php echo sprintf('%.2f', $bjqz/$bjq);}{else}0.00{/if}%<i class="fa fa-bolt"></i>
					</div>
					<small>占总消息</small>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
					<span class="label label-primary pull-right">今天</span>
					<h5>考勤总计</h5>
				</div>
				<div class="ibox-content">
					<i class="pull-left fa fa-thumbs-up icon-rounded" style="background-color:#ef553a;"></i>
					<h1 class="no-margins" id="checklog">{$checklog}次</h1>
					<div class="stat-percent font-bold text-navy">{if $checklog !=0 & $kq !=0}{php echo sprintf('%.2f', $checklog/$kq);}{else}0.00{/if}%<i class="fa fa-bolt"></i>
					</div>
					<small>占总考勤</small>
				</div>
			</div>
		</div>
		{if $logo['is_cost'] == 1 || $_W['isfounder'] || $_W['role'] == 'owner' || $_W['role'] == 'vice_founder'}
		<div class="col-sm-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
					<span class="label label-primary pull-right">今天</span>
					<h5>总收入额</h5>
				</div>
				<div class="ibox-content">
					<i class="pull-left fa fa-rmb icon-rounded" style="background-color:#00aced;"></i>
					<h1 class="no-margins">{if !empty($cose)}{$cose}{else}0{/if}元</h1>
					<div class="stat-percent font-bold text-danger">{if !empty($cose)}{php echo sprintf('%.2f', $cose/$ddzj);}%{else}0.00%{/if}<i class="fa fa-bolt"></i>
					</div>
					<small>占总收入</small>
				</div>
			</div>
		</div>
		{/if}
		{/if}
	</div>	
<style>
.span_8 {text-align: center;padding-left: 15px;}
@media (min-width: 992px)
.col-md-4 {width: 33.33333333%;}		
.activity_box {background: #fff;min-height: 392px;box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);}
.scrollbar {height: 392px;background: #fff;overflow-y: scroll;padding: 2em 1em;}
.activity-row {margin-bottom: 2em;}
.activity-row, .activity-row1 {text-align: left;}
.graphs {padding: 2em 1em;background: #f2f4f8;font-family: 'Roboto', sans-serif;}
.col-md-4{position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
</style>
<script src="{OSSURL}public/mobile/js/faceMap.js?v=5.61" type="text/javascript"></script>
<div class="row" style="margin-bottom: 15px;">
	<div class="col-md-4 span_8">
		<div class="activity_box">
			<div class="panel-heading">
                    <h4 class="panel-title">班级圈消息</h4>
            </div>
			<div class="scrollbar" id="style-2">
			{loop $lastbjq $item}
				<div class="activity-row">
					<div class="col-xs-1"><i class="fa fa-comment text-info"></i> </div>
					<div class="col-xs-3 activity-img" style="width:auto;"><img style="width:50px;height:50px;border-radius:50%;" src="{php echo tomedia($item['avatar'])}" class="img-responsive" alt=""></div>
					<div class="col-xs-8 activity-desc">
						<h5>
							<a href="#">{$item['shername']}</a>&nbsp;&nbsp;{$item['bjname']}<a href="#">{if $item['isopen'] == 1}*未审核*{/if}</a>
							{if $item['msgtype'] == 1}<span class="label label-success pull-right">图文</span>{/if}
							{if $item['msgtype'] == 2}<span class="label label-warning pull-right">语音</span>{/if}
							{if $item['msgtype'] == 3}<span class="label label-danger pull-right">视频</span>{/if}	
							{if $item['msgtype'] == 4}<span class="label label-info pull-right">分享</span>{/if}	
							{if $item['msgtype'] == 5}<span class="label label-primary pull-right">多媒体</span>{/if}		
						</h5>
						<p class="neirong">{$item['content']}</p>
						<h6>{$item['time']}前</h6>
					</div>
					<div class="clearfix"></div>
				</div>
			{/loop}	
			<a href="{php echo $this->createWebUrl('bjquan', array('op' => 'display', 'schoolid' => $schoolid))}">点击查看更多</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 span_8">
		<div class="activity_box">
			<div class="panel-heading">
                    <h4 class="panel-title">校园动态</h4>
            </div>		
			<div class="scrollbar" id="style-2">
			{loop $lasttz $item}
				<div class="activity-row1">
					 <div class="col-xs-1">{if $item['ismobile'] == 1}<i class="fa fa-desktop text-info icon_12">{else}<i class="fa fa-weixin text-info icon_12">{/if}</i></div>
					 <div class="col-xs-3 activity-img" style="width:auto;"><img style="width:50px;height:50px;border-radius:50%;" src="{if $item['thumb']}{php echo tomedia($item['thumb'])}{else}{php echo tomedia($logo['tpic'])}{/if}" class="img-responsive" alt="">
					 </div>
					 <div class="col-xs-8 activity-desc">
						<h5>
							<a href="#">{$item['tname']}</a> <a href="#">{$item['bjname']}</a>
							{if $item['type'] == 2}<span class="label label-danger pull-right">校园通知</span>{/if}
							{if $item['type'] == 1}<span class="label label-info pull-right">班级通知</span>{/if}
							{if $item['type'] == 3}<span class="label label-primary pull-right">作业通知</span>{/if}
						</h5>
						<p>{$item['title']}</p>
						<h6>{$item['time']}前</h6>
					 </div>
					 <div class="clearfix"> </div>
				 </div>
			{/loop}	
			<a href="{php echo $this->createWebUrl('notice', array('op' => 'display', 'schoolid' => $schoolid))}">点击查看更多</a>
			</div>
		</div>
	</div>
	{if $schooltype}
	<div class="col-md-4 span_8">
		<div class="activity_box">
			<div class="panel-heading">
                    <h4 class="panel-title">消课记录</h4>
            </div>		
			<div class="scrollbar" id="style-2">
			{loop $lastxk $item}
				<div class="activity-row1">
					 <div class="col-xs-1"> <i class="fa fa-comment text-info"></i></div>
					 <div class="col-xs-3 activity-img" style="width:auto;">
					 <img style="width:50px;height:50px;border-radius:50%;" src="{if $item['sicon']}{php echo tomedia($item['sicon'])}{else}{php echo tomedia($logo['spic'])}{/if}" class="img-responsive" alt="">
					 </div>
					 <div class="col-xs-8 activity-desc">
						<h5>
							<a href="#"><span class="label label-success">学生</span>{$item['s_name']}</a> 
							<span class="label label-info">{$item['kcname']}</span> 
						</h5>
						 
						<h6>{$item['time']}前</h6>
					 </div>
					 <div class="clearfix"> </div>
				 </div>
			{/loop}
			<a href="{php echo $this->createWebUrl('checklog', array('op' => 'display', 'schoolid' => $schoolid))}">点击查看更多</a>
			</div>
		</div>
	</div>
	{else}
	<div class="col-md-4 span_8">
		<div class="activity_box">
			<div class="panel-heading">
                    <h4 class="panel-title">考勤记录</h4>
            </div>		
			<div class="scrollbar" id="style-2">
			{loop $lastkq $item}
				<div class="activity-row1">
					 <div class="col-xs-1">{if $item['checktype'] == 1}<i class="fa fa-credit-card text-info icon_12">{else}<i class="fa fa-weixin text-info icon_12">{/if}</i></div>
					 <div class="col-xs-3 activity-img" style="width:auto;">
					 <img style="width:50px;height:50px;border-radius:50%;" src="{if !empty($item['sid'])}{if $item['sicon']}{php echo tomedia($item['sicon'])}{else}{php echo tomedia($logo['spic'])}{/if}
					 {else}{if $item['thumb']}{php echo tomedia($item['thumb'])}{else}{php echo tomedia($logo['tpic'])}{/if}{/if}" class="img-responsive" alt="">
					 </div>
					 <div class="col-xs-8 activity-desc">
						<h5>
							<a href="#">{if !empty($item['sid'])}<span class="label label-success">学生</span>{$item['s_name']}{else}<span class="label label-info">老师</span>{$item['tname']}{/if}</a> <a href="#">{$item['bj_name']}</a>
							{if $item['type'] =='进校'}<span class="label label-success">{$item['type']}</span>{else}<span class="label label-info">{$item['type']}</span>{/if}
							{if $item['isconfirm'] == 2}<span class="label label-danger">待老师确认</span>{/if}
						</h5>
						<p>{$item['title']}</p>
						<h6>{$item['time']}前</h6>
					 </div>
					 <div class="clearfix"> </div>
				 </div>
			{/loop}
			<a href="{php echo $this->createWebUrl('checklog', array('op' => 'display', 'schoolid' => $schoolid))}">点击查看更多</a>
			</div>
		</div>
	</div>	
	{/if}
</div>	

	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
					<h4>
						<span>{if !empty($_GPC['addtime'])}{php echo date('Y-m-d', $starttime);}至{php echo date('Y-m-d', $endtime)}{/if}数据统计 </span>
					</h4>
					<div class="ibox-content" style="padding-bottom:0px!important;">
						<form action="./index.php" method="get" class="form-horizontal" role="form" id="list">
							<input type="hidden" name="c" value="site">
							<input type="hidden" name="a" value="entry">
							<input type="hidden" name="m" value="fm_jiaoyu">
							<input type="hidden" name="do" value="start"/>
							<input type="hidden" name="op" value="display"/>
							<input type="hidden" name="schoolid" value="{$schoolid}"/>
							<div class="form-group clearfix">
								<label class="col-xs-12 col-sm-2 col-md-1 control-label">时间范围</label>
								<div class="col-sm-7 col-lg-8 col-md-8 col-xs-12">
									{php echo tpl_form_field_daterange('addtime', array('start' => date('Y-m-d', $starttime), 'end' => date('Y-m-d', $endtime)));}
									<input class="btn btn-sm btn-info" name="commit" type="submit" value="查询">
								</div>	
							</div>
						</form>
					</div>					
				</div>
				<div class="account-stat" style="background-color: #ffffff;border-color: #e7eaec;border-style: solid solid none;border-width: 1px 0px;">
					<div class="account-stat-btn">
						{if $logo['is_cost'] == 1 || $_W['isfounder'] || $_W['role'] == 'vice_founder'}<div class="col-12" style="width:8%">已付总额<span style="font-size: 24px;color: #FF8000;" id="cose1">{$cose1}</span></div>{/if}
						<div class="col-12" style="width:8%">报名数<span style="font-size: 24px;color: #FF8000;" id="baomzj">{$baomzj}人</span></div>
						{if !$_W['schooltype']}
						<div class="col-12" style="width:8%">考勤数<span style="font-size: 24px;color: #FF8000;" id="checklogzj">{$checklogzj}次</span></div>
						{else}
						<div class="col-12" style="width:8%">消课数<span style="font-size: 24px;color: #FF8000;" id="checklogzj">{$checklogzj}次</span></div>
						{/if}
						<div class="col-12" style="width:8%">班级圈<span style="font-size: 24px;color: #FF8000;" id="bjqzj">{$bjqzj}条</span></div>	
						<div class="col-12" style="width:8%">照片数<span style="font-size: 24px;color: #FF8000;" id="xczj">{$xczj}张</span></div>
						<div class="col-12" style="width:8%">已绑教师<span style="font-size: 24px;color: #FF8000;" id="ybjs">{$ybjs}人</span></div>
						<div class="col-12" style="width:8%">已绑学生及家长<span style="font-size: 24px;color: #FF8000;" id="ybxs">{$ybxs}人</span></div>
						<div class="col-12" style="width:8%">教师人数<span style="font-size: 24px;color: #FF8000;" id="jszj">{$jszj}人</span></div>
						<div class="col-12" style="width:8%">未过期学生人数<span style="font-size: 24px;color: #FF8000;" id="xszj">{$xszj}人</span></div>
						<div class="col-12" style="width:8%">已过期学生人数<span style="font-size: 24px;color: #FF8000;" id="xszjGuoqi">{$xszjGuoqi}人</span></div>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		{if GetSchoolType($schoolid,$weid)}
			<div class="panel panel-default">
				<div class="chart-title  ng-binding" style="padding: 4px 10px;">{if !empty($_GPC['addtime'])}{php echo date('Y-m-d', $starttime)}至{php echo date('Y-m-d', $endtime)}{else}今日{/if}各课程情况
					<div class="fr classNameColor" style="float: right;">
						<div class="col-sm-2 col-lg-2">
							<select style="width: 147px;" id="ctype_id" class="form-control">
							{loop $njchecklog $row}
								<option value="{$row['sid']}">{$row['sname']}</option>
							{/loop}	
							</select>
						</div>
						<div class="col-sm-2 col-lg-2" style="float:left;left:120px">
							<select style="width: 147px;" id="kc_id" class="form-control">
							
								<option value="0">请选择课程</option>
							
							</select>
						</div>
					</div>
				</div>
				<div class="panel-body text-center" style="padding: 1px;min-height: 357px;">
					<div class="echarts" id="echarts-pie-chart-c"></div>
				</div>
			</div>
		{else}
			<div class="panel panel-default">
				<div class="chart-title  ng-binding" style="padding: 4px 10px;">{if !empty($_GPC['addtime'])}{php echo date('Y-m-d', $starttime)}至{php echo date('Y-m-d', $endtime)}{else}今日{/if}各班考勤情况
					<div class="fr classNameColor" style="float: right;">
						<div class="col-sm-2 col-lg-2">
							<select style="width: 147px;" id="xq_id" class="form-control">
							{loop $njchecklog $row}
								<option value="{$row['sid']}">{$row['sname']}</option>
							{/loop}	
							</select>
						</div>
					</div>
				</div>
				<div class="panel-body text-center" style="padding: 1px;min-height: 357px;">
					<div class="echarts" id="echarts-pie-chart-c"></div>
				</div>
			</div>
		{/if}
		</div>
		{if GetSchoolType($schoolid,$weid)}
		<div class="col-md-6">
			<div class="panel panel-default" style="position: relative;">
				<div class="chart-title ng-binding" style="padding: 4px 10px;">{if !empty($_GPC['addtime'])}{php echo date('Y-m-d', $starttime)}至{php echo date('Y-m-d', $endtime)}{else}今日{/if}各课程类型签到情况</div>
				<div style="min-height: 357px;">
					<!-- ngIf: charts.gradeAttendance.loading -->
					<div class="slimScrollDiv" style="position: relative; width: auto; height: 338px;">
						<div style="overflow-y: scroll;width: auto; height: 335px;">
							<table class="table table-hover table-condensed table-layout-fixed   mb5 clear_bold">
								<thead>
									<tr>
										<th>类别</th>
										<th>课时总数</th>
										<th>应签人次</th>
										<th>已签人次</th>
										<th>请假人次</th>
										<th>缺签人次</th>
										<th>已签率</th>
										<th>请假率</th>
										<th>缺签率</th>
									</tr>
								</thead>
								<tbody>
									{loop $njchecklog $row}
									<tr ng-repeat="post in charts.gradeAttendance.chartData" class="ng-scope">
										<td>
											<div class="text-ellipsis ng-binding">{$row['sname']}</div>
										</td>
										<td class="ng-binding">{$row['ksnum']}</td>
										<td class="ng-binding">{$row['NeedSignNum']}</td>
										<td class="ng-binding">{$row['DoSignNum']}</td>
										<td class="ng-binding">{$row['QingJiaNum']}</td>
										<td class="ng-binding">{$row['NotSignNum']}</td>
									
										<td>
											<div class="text-succ">{if $row['NeedSignNum'] !=0}{php echo round($row['DoSignNum']/$row['NeedSignNum']*100,2);}{else}0.00{/if}%</div>
										</td>
										<td>
											<div class="text-dang">{if $row['NeedSignNum'] !=0}{php echo round($row['QingJiaNum']/$row['NeedSignNum']*100,2);}{else}0.00{/if}%</div>
										</td>
										<td>
											<div class="text-dang">{if $row['NeedSignNum'] !=0}{php echo round($row['NotSignNum']/($row['NeedSignNum'])*100,2);}{else}0.00{/if}%</div>
										</td>
										
									</tr>
									{/loop}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		{else}
		<div class="col-md-6">
			<div class="panel panel-default" style="position: relative;">
				<div class="chart-title ng-binding" style="padding: 4px 10px;">{if !empty($_GPC['addtime'])}{php echo date('Y-m-d', $starttime)}至{php echo date('Y-m-d', $endtime)}{else}今日{/if}各年级出勤情况</div>
				<div style="min-height: 357px;">
					<!-- ngIf: charts.gradeAttendance.loading -->
					<div class="slimScrollDiv" style="position: relative; width: auto; height: 338px;">
						<div style="overflow-y: scroll;width: auto; height: 335px;">
							<table class="table table-hover table-condensed table-layout-fixed   mb5 clear_bold">
								<thead>
									<tr>
										<th>类别</th>
										<th>年级人数</th>
										{if !empty($_GPC['addtime'])}<th>出勤人次</th>{else}<th>出勤人数</th>{/if}
										{if !empty($_GPC['addtime'])}<th>请假人次</th>{else}<th>请假人数</th>{/if}
										{if !empty($_GPC['addtime'])}<th>缺勤人次</th>{else}<th>缺勤人数</th>{/if}
										<th>出勤率</th>
										<th>请假率</th>
										<th>缺勤率</th>
									</tr>
								</thead>
								<tbody>
									{loop $njchecklog $row}
									<tr ng-repeat="post in charts.gradeAttendance.chartData" class="ng-scope">
										<td>
											<div class="text-ellipsis ng-binding">{$row['sname']}</div>
										</td>
										<td class="ng-binding">{$row['njzrs']}</td>
										<td class="ng-binding">{$row['njcqzs']}</td>
										<td class="ng-binding">{$row['njqjrs']}</td>
										<td class="ng-binding">{$row['qqzrs']}</td>
										{if !empty($_GPC['addtime'])}
										<td>
											<div class="text-succ">{if $row['njzrs'] !=0}{php echo round($row['njcqzs']/($row['njzrs']*$day_num)*100,2);}{else}0.00{/if}%</div>
										</td>
										<td>
											<div class="text-dang">{if $row['njzrs'] !=0}{php echo round($row['njqjrs']/$row['njzrs']*100,2);}{else}0.00{/if}%</div>
										</td>
										<td>
											<div class="text-dang">{if $row['njzrs'] !=0}{php echo round($row['qqzrs']/($row['njzrs']*$day_num)*100,2);}{else}0.00{/if}%</div>
										</td>
										{else}
										<td>
											<div class="text-succ">{if $row['njzrs'] !=0}{php echo round($row['njcqzs']/$row['njzrs']*100,2);}{else}0.00{/if}%</div>
										</td>
										<td>
											<div class="text-dang">{if $row['njzrs'] !=0}{php echo round($row['njqjrs']/$row['njzrs']*100,2);}{else}0.00{/if}%</div>
										</td>
										<td>
											<div class="text-dang">{if $row['njzrs'] !=0}{php echo round($row['qqzrs']/($row['njzrs'])*100,2);}{else}0.00{/if}%</div>
										</td>
										{/if}
									</tr>
									{/loop}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		{/if}
	</div>
	<div class="clearfix">
		<div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
                        <h5>{if !empty($_GPC['addtime'])}{php echo date('Y-m-d', $starttime)}至{php echo date('Y-m-d', $endtime)}{/if}交互功能使用率</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="echarts" id="echarts-pie-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
                        <h5>{if !empty($_GPC['addtime'])}{php echo date('Y-m-d', $starttime)}至{php echo date('Y-m-d', $endtime)}{/if}支付方式比例图</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="echarts" id="echarts-pie-chart-a"></div>
                    </div>
                </div>
            </div>
      </div>
	</div>
	{if $logo['is_cost'] == 1 || $_W['isfounder'] || $_W['role'] == 'owner' || $_W['role'] == 'vice_founder'}
	<form class="form-horizontal" action="" method="post" onkeydown="if(event.keyCode == 13) return false;">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover table-bordered table-text-center">
						<thead class="navbar-inner">
							<tr>
								<th width="300">时间</th>
								<th>营业额</th>
								<th>订单数</th>
								<th>在线支付</th>
								<th>现金支付</th>
								<th>查看详情</th>
							</tr>
						</thead>
						<tbody>
							{loop $return $k $dca}
							<tr>
								<th>{$k}</th>
								<td>{php echo sprintf('%.2f', $dca['cose']);} 元</td>
								<td>{php echo intval($dca['count']);} 单</td>
								<td>{php echo sprintf('%.2f', $dca['1']);} 元</td>
								<td>{php echo sprintf('%.2f', $dca['2']);} 元</td>
								<td>
									<a href="{php echo $this->createWebUrl('payall', array('op' => 'display', 'schoolid' => $schoolid));}" class="btn btn-success" target="_blank">详情</a>
								</td>
							</tr>
							{/loop}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>
	{/if}
</div>
<script src="{$_W['siteroot']}addons/fm_jiaoyu/public/web/js/jquery.flot.js?v=2.1.4"></script>
<script src="{$_W['siteroot']}addons/fm_jiaoyu/public/web/js/echarts-all.js?v=2.1.4"></script>	
<script type="text/javascript">
{if $schooltypes}loadmoal();{/if}
function loadmoal(){
	$.post("{php echo $this->createWebUrl('indexajax',array('op'=>'checkverstypeforhtml','schoolid'=>$schoolid))}",function(data){
		if(data.result){
			$("#Modal1").html(data.log);
		}else{
			//alert(data.msg);
		}
	},'json');
}
{if $nowdatatype}
	$('#Modal1').modal('toggle');
{/if}
function glms(){
	$("#glmsmask").show();
	$("#pxmsmask").hide();
	$("#nowms").val(2);
}
function pxms(){
	$("#pxmsmask").show();
	$("#glmsmask").hide();
	$("#nowms").val(1)
}
function showmsmodel(){
	$('#Modal1').modal('toggle');
	$('#canlbtn').show();
}
function tijiao(){
	var nowms = $("#nowms").val();
	if(!nowms || nowms == null || nowms == ''){
		alert('请选择本校模式,温馨提示:幼儿园或早教机构请选择公立模式');
	}else{
		$.post($("#changemsurl").val(),{nowms: nowms,wxnam:"{$_W['uniaccount']['name']}",site:"{$_W['siteroot']}",weid:"{$weid}"},function(data){
			if(data.result){
				//alert(data.msg);
			}else{
				//alert(data.msg);
			}
			location.reload();
		},'json');
	}
}
icon_replace($(".neirong"));
function icon_replace(content_box) {
    var face_map_url = "{OSSURL}public/mobile/img/face/";
    $(content_box).each(function () {
        //替换表情
        if (typeof ($(this).html()) != 'undefined') {
            var desc = $(this).html().replace(/\[([^\]]+)\]/g, function (a, b) {
                return "<img class='face_icon' style='width: 20px;' src='" + face_map_url + objMap[b] + ".gif'>";
            });
            $(this).html(desc);
        }
    })
}
{if $schooltype}
	move('todayStu','{$todayStu}','人');
	move('todayBuy','{$todayBuy}','人');
	move('todaySign','{$todaySign}','人');
	move('todayKc','{$todayKc}','节');
{else}
	move('baom','{$baom}','人');
	move('bjqz','{$bjqz}','条');
	move('checklog','{$checklog}','次');
{/if}
{if $logo['is_cost'] == 1 || $_W['isfounder'] || $_W['role'] == 'owner' || $_W['role'] == 'vice_founder'}
move('cose1','{$cose1}','元');
{/if}
move('baomzj','{$baomzj}','人');
move('checklogzj','{$checklogzj}','次');
move('bjqzj','{$bjqzj}','条');
move('xczj','{$xczj}','张');
move('ybjs','{$ybjs}','人');
move('ybxs','{$ybxs}','人');
move('jszj','{$jszj}','人');
move('xszj','{$xszj}','人');
move('xszjGuoqi','{$xszjGuoqi}','人');
function move(div,nub,dw){
var oSpan=document.getElementById(div);
var d=nub;//跳动到最后的数字
var s= parseInt(oSpan.innerHTML);//起始起始值 一般是 0 或其他
var time=1000;  //所用时间 1000毫秒（ 在1秒内 数值增加到d）;
var outTime=0;  //所消耗的时间
var interTime=30;
var timer = setInterval(function(){
    outTime+=interTime;
    if(outTime < time){
        oSpan.innerHTML= parseInt(d/time*outTime)+dw;
    }else{
        oSpan.innerHTML=d+dw;
    }
    },interTime);
}
$(function () {
	var templates = {
		c: {
			title: {
				text: '',
				subtext: ''
			},
			series: [{
				name: '各种支付方式收入下单比例',
				data: []
			}]
		},
		b: {
			title: {
				text: '交互功能使用率',
				subtext: '单位：次'
			},
			series: [{
				name: '交互功能使用率',
				data: []
			}]
		},
		a: {
			title: {
				text: '各种支付方式收入比例',
				subtext: '单位：笔'
			},
			series: [{
				name: '各种支付方式收入下单比例',
				data: []
			}]
		}
	};
	//第一
   // var pieChart = echarts.init(document.getElementById("echarts-pie-chart"));
    var pieoption = {
        title : {
            text: '',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} 次 ({d}%)"
        },
        legend: {
            orient : 'vertical',
            x : 'left',
            data:['班级圈','在线报名','通知公告','打卡考勤','在线留言','相册','在线请假']
        },
        calculable : true,
        series : [
            {
                name:'交互功能',
                type:'pie',
                radius : '60%',
                center: ['50%', '60%'],
                data:[]
            }
        ]
    };
   	// pieChart.setOption(pieoption);
   	// $(window).resize(pieChart.resize);
	var GetChartData = function(type) {
		$('#echarts-pie-chart').html('');
		var schoolid = "{$schoolid}";
		var url = "{php echo $this->createWebUrl('start');}&op=" + type + "&schoolid=" + schoolid;
		var params = {
			'start': $('#list input[name="addtime[start]"]').val(),
			'end': $('#list input[name="addtime[end]"]').val(),
			'addtime' : '{$_GPC['addtime']}'
		};
		$.post(url, params, function(data){
			var data = $.parseJSON(data);
			var ds = $.extend(true, {}, pieoption, templates[type]);
			ds.series[0].data = data.message.message;
			var pieChart = echarts.init($('#echarts-pie-chart')[0]);
			pieChart.setOption(ds);
			$(window).resize(pieChart.resize);
		});
	}
	GetChartData('b');
	//第二
	//var pieChart_a = echarts.init(document.getElementById("echarts-pie-chart-a"));	
    var pieoption_a = {
		title : {
			text: '',
			x:'center'
		},
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} 笔 ({d}%)"
        },
        legend: {
            orient : 'vertical',
            x : 'left',
            data:['银联支付','支付宝支付','百付宝支付','微信支付','现金支付','余额支付']
        },
        calculable : true,
        series : [
            {
                name:'支付方式',
                type:'pie',
                radius : '60%',
                center: ['50%', '60%'],
                data:[]
            }
        ]
    };
   	// pieChart_a.setOption(pieoption_a);
   	// $(window).resize(pieChart_a.resize);
	var GetChartData = function(type) {
		$('#echarts-pie-chart-a').html('');
		var schoolid = "{$schoolid}";
		var url = "{php echo $this->createWebUrl('start');}&op=" + type + "&schoolid=" + schoolid;
		var params = {
			'start': $('#list input[name="addtime[start]"]').val(),
			'end': $('#list input[name="addtime[end]"]').val()
		};
		$.post(url, params, function(data){
			var data = $.parseJSON(data);
			var ds = $.extend(true, {}, pieoption_a, templates[type]);
			ds.series[0].data = data.message.message;
			var myChart = echarts.init($('#echarts-pie-chart-a')[0]);
			myChart.setOption(ds);
			$(window).resize(myChart.resize);
		});
	}
	GetChartData('a');
});

$(document).ready(function() {
	{if GetSchoolType($schoolid,$weid)}
		$("#ctype_id").change(function() {
			changeKecheng();
			
		});
		$("#kc_id").change(function() {
			var kc_id = $("#kc_id option:selected").attr('value');
			var type = 1;
			addbarKc(kc_id, type, function() {
			});
		});
		changeKecheng();
	{else}
		$("#xq_id").change(function() {
			var njid = $("#xq_id option:selected").attr('value');
			var type = 1;
			addbar(njid, type, function() {
			});
		});
	{/if}	
	
});

function changeKecheng() {
	//alert(cityId);
	var schoolid = "{$schoolid}";
	var classlevel = [];
	//获取班次
	var ctypeId = $('#ctype_id').val();
	$.post("{php echo $this->createWebUrl('indexajax',array('op'=>'getkclist'))}", {'ctypeId': ctypeId, 'schoolid': schoolid}, function(data) {
	
		data = JSON.parse(data);
		classlevel = data.kclist;
		
		var htmls = '';
		if (classlevel != '') {
			for (var i in classlevel) {
				htmls += '<option value="' + classlevel[i].id + '">' + classlevel[i].name + '</option>';
			}
		}
		$('#kc_id').html(htmls);	
			addbarKc();		
	});
}

//按照课程进行统计
function addbarKc(njid) {
	//第三
		var templates = {
		c: {
		 
		}
	};
    var pieoption_c = {
		tooltip : {
			trigger: 'item',
			formatter: function(c){if(c.series.typess==1){return c.series.name+"</br>"+c.value+"节";}else if(c.series.typess==6){return c.series.name+"</br>"+c.value+"元";}else{return c.series.name+"</br>"+c.value+"人次";}}
		},
		legend: {
			data:['课时安排/节','签到人次','请假人次','缺勤人次','新增报名人数','新增收入/元']
		},

        calculable : false,
		grid: {y: 70, y2:30, x2:20,width:'80%'},
		xAxis : [
			{
				type : 'category',
				data : []
			},
			{
				type : 'category',
				axisLine: {show:false},
				axisTick: {show:false},
				axisLabel: {show:false},
				splitArea: {show:false},
				splitLine: {show:false},
				data : []
			}
		],
		yAxis: [{
			type: 'value',
			scale: true,
			name: '单位:课时（人次）',
			min: 0,
			},{
			type: 'value',
			scale: true,
			name: '单位:元',
			}],
		series : [
			{
				name:'课时安排/节',
				type:'bar',
				typess:1,
				itemStyle: {normal: {color:'rgba(65, 202, 192)', label:{show:true,formatter:function(c){return "课时安排:\n"+c.value+"节";}}}},
				data:[]
			},
			{
				name:'签到人次',
				type:'bar',
				typess:2,
				itemStyle: {normal: {color:'rgba(75, 207, 202)', label:{show:true,formatter:function(c){return "签到:\n"+c.value+"人次";}}}},
				data:[]
			},
			{
				name:'请假人次',
				type:'bar',
				typess:3,
				itemStyle: {normal: {color:'rgba(85, 212, 212)', label:{show:true,formatter:function(c){return "请假:\n"+c.value+"人次";}}}},
				data:[]
			},
			{
				name:'缺勤人次',
				type:'bar',
				typess:4,
				itemStyle: {normal: {color:'rgba(95, 217, 222)', label:{show:true,formatter:function(c){return "缺勤:\n"+c.value+"人次";}}}},
				data:[]
			},
			{
				name:'新增报名人数',
				type:'bar',
				typess:5,
				itemStyle: {normal: {color:'rgba(105, 222, 232)', label:{show:true,formatter:function(c){return "新增报名:\n"+c.value+"人";}}}},
				data:[]
			},
		
			{
				name:'新增收入/元',
				type:'bar',
				typess:6,
				 yAxisIndex: 1,
				itemStyle: {normal: {color:'rgba(255, 130, 0)', label:{show:true,formatter:function(c){return "新增收入:\n"+c.value+"元";}}}},
				data:[]
			},
			
		]
    };
   	// pieChart_a.setOption(pieoption_a);
   	// $(window).resize(pieChart_a.resize);
	var GetChartData = function(type) {
		$('#echarts-pie-chart-c').html('');
		var schoolid = "{$schoolid}";
		var kcid = $('#kc_id').val();
		var url = "{php echo $this->createWebUrl('start');}&op=" + type + "&schoolid=" + schoolid;
		var params = {
			'kcid': kcid,
			'start': $('#list input[name="addtime[start]"]').val(),
			'end': $('#list input[name="addtime[end]"]').val(),
			'addtime':'{$_GPC['addtime']}'
		};
		$.post(url, params, function(data){
			var data = $.parseJSON(data);
			console.log(data);
			var ds = $.extend(true, {}, pieoption_c, templates[type]);
			ds.xAxis[0].data = data.allthisbj;
			
			
			ds.series[0].data = data.ksnum;
			ds.series[1].data = data.dosign;
			ds.series[2].data = data.qingjia;
			ds.series[3].data = data.notsign;
			ds.series[4].data = data.newPay;
			ds.series[5].data = data.newcose;
			
			console.log(ds);
			var myChart = echarts.init($('#echarts-pie-chart-c')[0]);
			myChart.setOption(ds);
			$(window).resize(myChart.resize);
		});
	}
	GetChartData('d');
}
	
function addbar(njid) {
	//第三
	var templates = {
		c: {
			
		}
	};
    var pieoption_c = {
		tooltip : {
			trigger: 'item',
			formatter: function(c){if(c.series.typess==1){return c.name+"</br>"+c.value+"人";}else if(c.series.typess==2){return c.name+"</br>"+c.value+"%";}}
		},
		legend: {
			data:['出勤人数/次','出勤比例']
		},
		toolbox: {
			show : true,
			feature : {
				magicType : {show: true, type: ['line', 'bar']},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
        calculable : false,
		grid: {y: 70, y2:30, x2:20,width:'80%'},
		xAxis : [
			{
				type : 'category',
				data : []
			},
			{
				type : 'category',
				axisLine: {show:false},
				axisTick: {show:false},
				axisLabel: {show:false},
				splitArea: {show:false},
				splitLine: {show:false},
				data : []
			}
		],
		yAxis: [{
			type: 'value',
			scale: true,
			name: '单位:人',
			min: 0,
			},{
			type: 'value',
			scale: true,
            min: 0,
			max: 100,
			name: '单位:%',
			}],
		series : [
			{
				name:'出勤人数/次',
				type:'bar',
				typess:1,

				itemStyle: {normal: {color:'rgba(65, 202, 192)', label:{show:true,formatter:function(c){return c.value+"人";}}}},
				data:[]
			},
			{
				name:'出勤比例',
				type:'bar',
				typess:2,
				yAxisIndex: 1,
				itemStyle: {normal: {color:'rgba(119, 230,0)', label:{show:true,formatter:function(c){return c.value+"%";}}}},
				data:[]
			},
		]
    };
   	// pieChart_a.setOption(pieoption_a);
   	// $(window).resize(pieChart_a.resize);
	var GetChartData = function(type) {
		$('#echarts-pie-chart-c').html('');
		var schoolid = "{$schoolid}";
		var url = "{php echo $this->createWebUrl('start');}&op=" + type + "&schoolid=" + schoolid;
		var params = {
			'njid': njid,
			'start': $('#list input[name="addtime[start]"]').val(),
			'end': $('#list input[name="addtime[end]"]').val(),
			'addtime':'{$_GPC['addtime']}'
		};
		$.post(url, params, function(data){
			var data = $.parseJSON(data);
			console.log(data);
			var ds = $.extend(true, {}, pieoption_c, templates[type]);
			ds.xAxis[0].data = data.allthisbj;
			ds.xAxis[1].data = data.allthisbj;
			ds.series[0].data = data.bjcqzs;
			ds.series[1].data = data.bjkqbl;
			console.log(ds);
			var myChart = echarts.init($('#echarts-pie-chart-c')[0]);
			myChart.setOption(ds);
			$(window).resize(myChart.resize);
		});
	}
	GetChartData('c');
}

{if GetSchoolType($schoolid,$weid)}
addbarKc();
{else}
addbar();
{/if}
</script>
{/if}
{template 'public/footer'}